<div class="main-content">
  <!-- 计时、答题统计区 -->
  <div class="ceshi">
    <div class="col-xs-4 text-center">共有：<%= @exam.exam_items.length%>题</div>
    <div class="col-xs-3 text-center">已答：<%= @exam.exam_items.size - @exam.no_answer_items.size %>题</div>
    <div class="col-xs-5 text-center">时间：<span id="countdown">00:00:00</span></div>
  </div>

  <div class="question-content">
    <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @exam.exam_items.each_with_index do |ei, index|%>
          <div id="question-content-show" class="item <%= "active" if index == 0 %>">
            <% question = ei.question %>
            <p class="title"><%= index + 1 %>、<%= question.title%></p>
            <% question.options.each_with_index do |option, option_index|%>
              <p class="option <%= 'text-info' if is_selected?(option_index,ei.answer) %>">
                <%= radio_button_tag("option_" + index.to_s, option.index_type, is_selected?(option_index,ei.answer), disabled: true )%>
                <span><%= option.name%></span>
              </p>
            <% end %>
            <hr class="answer-hr">
            <div class="right-answer">
              <div>正确答案：<%= question.correct_option %></div>
              <div>答案解析：<%= question.correct_hint.present? ? question.correct_hint : "无" %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- 选题控制区 -->
  <div class="change-page col-xs-12 text-center">
    <a class="col-xs-6" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="btn btn-primary last-question">上 一 题</span>
    </a>
    <a class="col-xs-6" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="btn btn-success next-question">下 一 题</span>
    </a>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
     interval: 0
    });
    var width = $(window).height()-200;
      $("div.question-content").height(width);
  });
</script>
