<div class="main-content">
	<div class="left-content">
		<div class="video-content">
			<!-- video -->
			<video width="860" height="500" class="mejs-player" poster="/assets/course-show.png" controls="controls" preload="none">
				<source type="video/mp4" src="http://7xj8j2.com1.z0.glb.clouddn.com/images/files/3/_邓紫棋_喜欢你_hd.mp4" />
				<source type="video/webm" src="myvideo.webm" />
				<source type="video/ogg" src="myvideo.ogv" />
			</video>

			<div class="collect-content">
				<div class="collect">
					<%= link_to "" do %>
						<span class="glyphicon glyphicon-heart"></span>
					<% end %>
					<span>我喜欢</span>
				</div>
				<div class="collect">
					<%= link_to "" do %>
						<span class="glyphicon glyphicon-star"></span>
					<% end %>
					<span>收藏</span>
				</div>
			</div>
		</div>
		<div id="commentContent" class="comments-content">
    	<%= render :partial => "comment_show" , locals: {comments: @comments }%>
		</div>
	</div>
	<div class="right-bar">
		<div class="related-video">
			<p class="title">
				相关视频
			</p>
			<ul class="videos">
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
			</ul>
			<div class="buttons">
				<%= link_to "课后作业", after_class_courses_path, class: "btn btn-primary"%>
				<%= link_to "成绩查询", "", class: "btn btn-success"%>
			</div>
		</div>
		<div class="students-content">
			<p class="total">
				<span class="text">1053</span> 位共同战斗的同学
				<%= link_to "" do %>
					<span class="glyphicon glyphicon-refresh"></span>
				<% end %>
			</p>
			<ul class="students">
				<% (1..6).each do |i| %>
					<li>
						<div class="media-left">
							<a href="#">
								<%= image_tag "user-picture1.jpg"%>
							</a>
						</div>
						<div class="media-body">
							<h5 class="media-heading">猪虫鼠小弟</h5>
							<p class="comment-info">Web前段工程师</p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
