<div class="main-content">
	<div class="left-content">
		<div class="video-content">
			<!-- video -->
			<video width="860" height="500" class="mejs-player" poster="/assets/course-show.png" controls="controls" preload="none">
				<source type="video/mp4" src="http://7xj8j2.com1.z0.glb.clouddn.com/images/files/3/_邓紫棋_喜欢你_hd.mp4" />
				<source type="video/webm" src="myvideo.webm" />
				<source type="video/ogg" src="myvideo.ogv" />
			</video>

			<div class="collect-content">
				<div class="collect">
					<%= link_to "" do %>
						<span class="glyphicon glyphicon-heart"></span>
					<% end %>
					<span>我喜欢</span>
				</div>
				<div class="collect">
					<%= link_to "" do %>
						<span class="glyphicon glyphicon-star"></span>
					<% end %>
					<span>收藏</span>
				</div>
			</div>
		</div>
		<div class="comments-content">
			<div class="links">
				<a href="#" class="btn btn-primary">评论</a>
				<a href="#" class="btn btn-default">回答</a>
			</div>
			<div class="links-content">
				<div class="comment-input">
					<textarea class="comment_text" name="textfield" autofocus=false type="text" rows="5" cols="118" value="扯淡、吐槽、表扬、鼓励......想说啥就说啥！" onfocus='this.value=""' onblur='this.value="扯淡、吐槽、表扬、鼓励......想说啥就说啥！"'/></textarea>
					<a href="#" class="btn btn-success pull-right">发表评论</a>
				</div>
				<ul class="comment-list">
					<% 6.times do%>
						<li class="media">
							<hr>
							<div class="media-left">
								<a href="#">
									<%= image_tag "user-picture1.jpg"%>
								</a>
							</div>
							<div class="media-body">
								<h5 class="media-heading">闲逛的蚂蚁</h5>
								<p>谢谢郭大侠的无私奉献。</p>
								<p class="comment_date">
									<span>时间：2015-5-23  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp源自：3-10 总结</span>
									<button class="btn btn-primary btn-xs comment_reply" type="button">回复</button>
									<button type="button" class="btn pull-right"><span class=" glyphicon glyphicon-thumbs-up" aria-hidden="true">4</span> </button>
								</p>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="right-bar">
		<div class="related-video">
			<p class="title">
				相关视频
			</p>
			<ul class="videos">
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
			</ul>
			<div class="buttons">
				<%= link_to "课后作业", after_class_courses_path, class: "btn btn-primary"%>
				<%= link_to "成绩查询", "", class: "btn btn-success"%>
			</div>
		</div>
		<div class="students-content">
			<p class="total">
				<span class="text">1053</span> 位共同战斗的同学
				<%= link_to "" do %>
					<span class="glyphicon glyphicon-refresh"></span>
				<% end %>
			</p>
			<ul class="students">
				<% (1..6).each do |i| %>
					<li>
						<div class="media-left">
							<a href="#">
								<%= image_tag "user-picture1.jpg"%>
							</a>
						</div>
						<div class="media-body">
							<h5 class="media-heading">猪虫鼠小弟</h5>
							<p class="comment-info">Web前段工程师</p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
