<% content_for :crumbs do%>
  <ol class="breadcrumb">
  	<li><span class="glyphicon glyphicon-home">&nbsp;</span>当前位置</li>
  	<li><%= link_to "首页", root_path %></li>
  	<li><%= link_to @sub_course.course.name, show_courses_path(@sub_course.course.number) %></li>
  	<li class="active"><%= @sub_course.name %></li>
  </ol>
<% end %>

<div class="main-content">
	<div class="left-content">
		<div class="video-content">
			<!-- video -->
			<video width="860" height="500" class="mejs-player" poster="/assets/course-show.png" controls="controls" preload="none">
				<source type="video/mp4" src="<%= @sub_course.attachment.content.url %>" />
				<source type="video/webm" src="myvideo.webm" />
				<source type="video/ogg" src="myvideo.ogv" />
			</video>
			<div class="collect-content">
				<div class="collect">
				  <%= link_to "" do %>
				    <span class="glyphicon glyphicon-heart"></span>
				  <span>我喜欢</span>
				  <% end %>
				</div>
			  <div class="collect">
				  <%= link_to "" do %>
				    <span class="glyphicon glyphicon-star"></span>
				  <span>收藏</span>
				  <% end %>
				</div>
			</div>
		</div>

		<div id="commentContent" class="comments-content">
    	<%= render :partial => "comment_show" , locals: {comments: @comments }%>

		</div>
	</div>
	<div class="right-bar">
		<div class="related-video">
			<p class="title">
				相关视频
			</p>
			<ul class="videos">
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
				<li>
					<%= image_tag "video-play2.jpg", class:"photo2"%>
				</li>
			</ul>
			<div class="buttons">
				<%= link_to "课后作业", after_class_courses_path(@course.number), class: "btn btn-primary"%>
				<%= link_to "成绩查询", teacher_signed_in? ? my_score_teachers_path : my_exams_user_index_path, class: "btn btn-success"%>
			</div>
		</div>
		<div class="students-content">
			<p class="total">
				<span class="text"><%= @partners.size %></span> 位共同战斗的同学
				<%= link_to "" do %>
					<span class="glyphicon glyphicon-refresh"></span>
				<% end %>
			</p>
			<ul class="students">
				<% @partners.each do |partner| %>
					<li>
						<div class="media-left">
							<a href="javascript:void(0)">
								<%= image_tag partner.try(:voter).try(:show_image), class: "img-circle" %>
							</a>
						</div>
						<div class="media-body">
							<h5 class="media-heading"><%= partner.try(:voter).try(:show_name) %></h5>
							<p class="comment-info"><%= partner.try(:voter).try(:position) %></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
