<div class="main-content">
  <section class="common-title">
    <span class="pull-left">讨论中心</span>
  </section>

  <!-- <div class="panel panel-default">
    <div class="panel-body">
      <div class="row serach-content">
        <div class="col-sm-1 text-right serach-name">
          <span>系别：</span>
        </div>
        <div class="col-sm-11">
          <ul class="nav nav-pills serach-course">
            <li param="" class="active"><a href="#">全部</a></li>
            <%# @academies.each_with_index do |academy, index| %>
              <li param="<%#= academy.id %>"><%#= link_to academy.name, "#" %></li>
            <%# end %>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <ul class="nav nav-pills discuss-menu">
    <%= render "tabs" %>
  </ul>

  <div id="topicList" class="container discuss-list">
    <%= render "topic", locals: {topics: @topics} %>
  </div>
</div>


<div id="createDiscuss" class="modal fade">
  <%= render "new_modal" %>
</div>

<div id="relyCommentForm" style="display: none;">
  <%= form_tag reply_topic_discusses_path, method: :post, remote: true, class: "reply-comment-form" do %>
    <br><br>
    <%= text_area_tag "comment", "", rows: 3, 
      cols: 100, placeholder: "扯淡、吐槽、表扬、鼓励......想说啥就说啥！" %>
    <%= hidden_field_tag "comment_id" %>
    <%= hidden_field_tag "type", params[:type] %>
    <%= hidden_field_tag "page", params[:page] %>
    <%= submit_tag "发布", class: "btn btn-success pull-right", onclick: "if($(this).siblings('#comment').first().val() == ''){alert('请填写内容在发布');return false;};" %>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $("#newCreateBtn").click(function(){
      $("#createDiscuss").modal();
    });
  });
</script>
