<div class="main-content">
  <section class="common-title">
    <span class="pull-left">讨论中心</span>
  </section>

  <ul class="nav nav-pills discuss-menu">
    <li class="active"><%= link_to("<<返回讨论中心", discusses_path) %></li>
    <li class="navbar-right create-discuss">
      <a id="newCreateBtn" href="javascript:void(0);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新建话题</a>
    </li>
  </ul>

  <div id="topicList" class="container discuss-list">
    <div class="row">
      <div class="col-sm-1 text-center">
        <%= image_tag @topic.try(:usertable).try(:show_image),class: "img-circle", width: "100%" %>
        <p class="center-block text-muted"><%= truncate(@topic.try(:usertable).try(:show_name),length: 4)%></p>
      </div>
      <div class="col-sm-9">
        <h5>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          <%= link_to @topic.title, discuss_path(@topic) %>
        </h5>
        <p>
          <%= @topic.body %>
        </p>
        <div class="text-muted">
          提问时间：<%= @topic.created_at.try(:strftime,'%Y-%m-%d %H:%M:%S') %>
          <span class="label label-default">JavaScript</span>
        </div>
        <%= form_tag reply_topic_discusses_path, method: :post, remote: true, class: "reply-comment-form" do %>
          <br><br>
          <%= text_area_tag "comment", "", rows: 3, 
            cols: 100, placeholder: "扯淡、吐槽、表扬、鼓励......想说啥就说啥！" %>
          <%= hidden_field_tag "comment_id", @topic.id %>
          <%= hidden_field_tag "type", params[:type] %>
          <%= hidden_field_tag "page", params[:page] %>
          <%= hidden_field_tag "is_show", "show" %>
          <%= submit_tag "回复", class: "btn btn-success pull-right", onclick: "if($(this).siblings('#comment').first().val() == ''){alert('请填写内容在发布');return false;};" %>
        <% end %>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-6 text-center answer-count">
          <div><%= @topic.children.size %></div>
          <div>回答</div>
        </div>
        <div class="col-sm-6 text-center">
          <div>6</div>
          <div>浏览</div>
        </div>
      </div>
    </div>
    <hr>
    <% @topic.children.each do |tc| %>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <div class="col-sm-1 text-center">
            <%= image_tag tc.try(:usertable).try(:show_image),class: "img-circle", width: "100%" %>
            <p class="center-block text-muted"><%= truncate(tc.try(:usertable).try(:show_name),length: 4)%></p>
          </div>
          <div class="col-sm-9">
            <h5>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              <%= tc.body %>
            </h5>
            <div class="text-muted">
              回答时间：<%= tc.created_at.try(:strftime,'%Y-%m-%d %H:%M:%S') %>
              <span class="label label-default">JavaScript</span>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>


<div id="createDiscuss" class="modal fade">
  <%= render "new_modal" %>
</div>

<script type="text/javascript">
  $(function(){
    $("#newCreateBtn").click(function(){
      $("#createDiscuss").modal();
    });
  });
</script>
