<tr>
  <td><%= teacher.number %></td>
  <td><%= teacher.name %></td>
  <td><%= teacher.birthday %></td>
  <td><%= teacher.tec_position %></td>
  <td><%= teacher.phone %></td>
  <td><%= teacher.email %></td>
  <td><%= teacher.final_education %></td>
  <td><%= teacher.final_degree %></td>
  <td>
    <%#= link_to [:admin, teacher], class: 'btn btn-xs btn-info', title: '查看' do %>
     <!--  <span class="glyphicon glyphicon-eye-open"></span> -->
    <%#end%>
    <%= link_to edit_admin_teacher_path(teacher), class: 'btn btn-xs btn-default', title: '编辑' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <%end%>
    <%= link_to admin_teacher_path(teacher), data:{ confirm: 'Are you sure?'},method: :delete, class: 'btn btn-xs btn-danger', title: '删除' do %>
      <span class="glyphicon glyphicon-trash"></span>
    <%end%>
  </td>
</tr>