<tr>
  <td><%= image_tag(teacher.show_image, style: "max-height:60px;max-width:60px;") %></td>
  <td><%= teacher.phone %></td>
  <td><%= teacher.name %></td>
  <td><%= teacher.try(:academy).try(:name) %></td>
  <td><%= teacher.final_education %></td>
  <td><%= teacher.final_degree %></td>
  <td>
    <%= link_to [:admin, teacher], class: 'btn btn-xs btn-info', title: '查看' do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <%end%>
    <%= link_to edit_admin_teacher_path(teacher), class: 'btn btn-xs btn-default', title: '编辑' do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <%end%>
    <%= link_to nil, class: 'btn btn-xs btn-danger', title: '删除' do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <%end%>
  </td>
</tr>