<div id="left-bar" class="col-sm-2">
  <ul id="xcui-menu">
    <li>
      <%= link_to admin_courses_path do %>
        <span class="glyphicon glyphicon-home">课程列表</span>
      <%end%>
    </li>
    <li>
      <%= link_to admin_teachers_path do %>
        <span class="glyphicon glyphicon-home">教师列表</span>
      <%end%>
    </li>
    <li>
      <%= link_to admin_users_path do %>
        <span class="glyphicon glyphicon-home">学生列表</span>
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-home">首页</span>
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-home">首页</span>
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-home">首页</span>
      <%end%>
    </li>
  </ul>
</div>