<% comments.each do |comment| %>
  <div class="media cell">
    <div class="media-left">
      <a href="#" ontouchstart="this.className='down'" ontouchend="this.className='up'">
        <%= image_tag comment.try(:usertable).try(:show_image), class: "media-object img-circle", width: 48, height: 48 %>
      </a>
    </div>
    <div class="media-body">
      <!-- 点击进入话题详情页 -->
      <a href="#" ontouchstart="this.className='down'" ontouchend="this.className='up'">
        <!-- 主题 -->
        <p class="media-heading text-primary two_line"><%= comment.title %></p>
        <!-- 最新回答 -->
        <p class="text-muted two_line">
          <!-- 提问者 -->
          <p><%= truncate(comment.try(:usertable).try(:show_name),length: 4)%>&nbsp;&nbsp;<span class="text-muted">提问</span></p>
          <!-- 问题内容 -->
          <p class="text-muted"><%= comment.body %></p>
          <!-- 是否有回复 -->
          <% if comment.has_children?  %>
            <span class="text-muted">[最新回答]</span>
            <span><%= comment.children.last.try(:usertable).try(:show_name) %>:<span>
            <span class="text-muted"><%= comment.children.last.body %></span>
          <% else %>
            <span class="text-muted">[暂无回答]</span>
          <% end %>
        </p>
      </a>
      <!-- 时间、评论数 -->
      <p class="text-right comment_time">
        <span class="text-muted pull-left"><%= comment.created_at.try(:strftime,'%y-%m-%d %H:%M') %></span>
        <i class="iconfont" style="color: #279A4A;">&#xe601;</i>
        <span class="text-muted"><%= comment.children.size %></span>
      </p>
    </div>
  </div>
<% end %>

<div class="paginate text-center">
  <%= paginate comments %>
</div>
