<div class="page">
  <div class="content native-scroll">
    <div class="wechat-logo">
      <div class="clearfix">
        <div class="text-center">
            <%= image_tag "wechat/logo.png", width: "30%"%>
            <h3 class="logo">上海工商职业技术学院<small>&nbsp;&nbsp;|&nbsp;&nbsp;课程中心</small></h3>
        </div>
      </div>
    </div>

    <div class="wechat-login">
      <div id="flash_alert">
        <% flash.each do |key, value| %>
          <% if value.present? %>
              <div class="text-danger"><%= value%></div>
          <% end %>
        <% end %>
      </div>
      
      <%= simple_form_for([:wechat, current_user], url: update_password_wechat_user_path(current_user), method: :put,
                                  html: { class: 'form-horizontal'}, 
                                  wrapper: :horizontal_form) do |f|%>
        <div class="form-group changepass">
          <%= f.hint '请不要输入特殊字符!' %>
          <%= f.password_field :current_password, placeholder: '请输入原始密码', 
                                                  class: "form-control", 
                                                  autofocus: true,
                                                  required: true %>
        </div>
        <div class="form-group changepass">
          <%= f.password_field :password, placeholder: '请输入新密码', class: "form-control", require: true %>
        </div>
        <div class="form-group changepass">
          <%= f.password_field :password_confirmation, placeholder: '请输入确认密码', class: "form-control", require: true %>
        </div>

        <div class="col-xs-12">
          <p class="text-center">
            <%= f.submit "确认修改", class: "weui_btn weui_btn_primary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>