<div class="page">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="header">
      <a href="javascript:;" onclick="history.back();">
        <span class="glyphicon glyphicon-menu-left"></span>返回
      </a>
      <a href="javascript:;" onclick="$('#userInfoForm').submit();" class="pull-right">保存</a>
    </div>  
  </nav>
  <%= form_for @user, url: wechat_user_path(@user),  html: { multipart: true, id: "userInfoForm" } do |f|%>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <div class="weui_uploader">
            <div class="weui_uploader_bd">
              <ul class="weui_uploader_files">
                <li class="weui_uploader_file" id="upload_image" style="background-image:url(<%= asset_path(@user.show_image) %>);">
                    <div class="weui_uploader_status_content" id="upload_status" style="display: none;">0%</div>
                </li>
              </ul>
              <div class="weui_uploader_input_wrp pull-right">
                <%= f.file_field :image, class: "weui_uploader_input", accept: "image/jpg,image/jpeg,image/png,image/gif" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui_cells weui_cells_form base">
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">学号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.text_field :number, readonly: true, class: "weui_input" %>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.telephone_field :phone, placeholder: "请输入手机号", class: "weui_input" %>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.text_field :name, placeholder: "请输入姓名", class: "weui_input" %>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">昵称</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.text_field :nickname, placeholder: "请输入昵称", class: "weui_input" %>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">职位</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.text_field :position, placeholder: "请输入职位", class: "weui_input" %>
        </div>
      </div>
    </div>
    <div class="weui_cells_title">学院</div>
    <div class="weui_cells">
      <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.select :academy_id, [['请选择学院','']] + Academy.all.pluck(:name, :id), {}, id: "common_academy_id", class: "weui_select" %>
        </div>
      </div>
    </div>

    <div class="weui_cells_title">专业</div>
    <div class="weui_cells">
      <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.select :specialty_id, [['请选择专业','']] + @specialties, {}, id: "common_specialty_id", class: "weui_select" %>
        </div>
      </div>
    </div>

    <div class="weui_cells_title">班级</div>
    <div class="weui_cells">
      <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.select :grade_id, [['请选择班级','']] + @grades, {}, id: "common_grade_id", class: "weui_select" %>
        </div>
      </div>
    </div>

    <div class="weui_cells_title">性别</div>
    <div class="weui_cells weui_cells_radio">
      <label class="weui_cell weui_check_label" for="x11">
        <div class="weui_cell_bd weui_cell_primary">
          <p>男</p>
        </div>
        <div class="weui_cell_ft">
          <%= radio_button_tag("user[gender]", "man", @user.gender == "man", class: "weui_check", id: "x11") %>
          <span class="weui_icon_checked"></span>
        </div>
      </label>
      <label class="weui_cell weui_check_label" for="x12">

        <div class="weui_cell_bd weui_cell_primary">
          <p>女</p>
        </div>
        <div class="weui_cell_ft">
          <%= radio_button_tag("user[gender]", "woman", @user.gender == "woman", class: "weui_check", id: "x12") %>
          <span class="weui_icon_checked"></span>
        </div>
      </label>
    </div>

    <div class="weui_cells_title">个性签名</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <%= f.text_area :signature, class: "weui_textarea", placeholder: "请输入个性签名", row: 3 %>
          <div class="weui_textarea_counter"><span>0</span>/200</div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= content_for :script do %>
  <%= javascript_tag do %>
    get_specialties_path = "<%= get_specialties_user_index_path %>"
    get_grades_path = "<%= get_grades_user_index_path %>"
  <% end %>
  <%= javascript_include_tag "_user_show", 'data-turbolinks-track' => true %>
<% end %>

<script>
  $(function() {
    $("#user_image").change(function(){
      var file =document.getElementById('user_image').files[0];
      if(file){
        var image = $("#upload_image");
        var status = $("#upload_status");

        var reader=new FileReader();
        reader.readAsDataURL(file);

        // 读取开始时触发
        reader.onloadstart=function(){
            image.addClass("weui_uploader_status");
            status.css("display", "block");
        }
        // 文件读取中
        reader.onprogress=function(e){
            var percent = e.loaded / e.total * 100;
            status.text(percent + "%");
        }
        // 文件读取成功完成时触发
        reader.onload=function(e){
            image.css("background-image", "url("+this.result+")");
        }
        // 上传中断
        reader.onabort=function(){
            status.text("中断");  
        } 
        // 上传错误
        reader.onerror=function(){
            status.text("错误");
        }
        // 读取完成触发，无论成功或失败
        reader.onloadend=function(){
            image.removeClass("weui_uploader_status");
            status.css("display", "none");
        }
      }
    });
  })
</script>
