<div class="weui_tab">
    <div class="weui_tab_bd">
      <div class="container">
        <!-- ###########################完成的测试########################## -->
        <div class="div-content scoure-search">
          <% if @exams.blank? %>
            <div class="blank">没有已完成的测试</div>
          <% else %>
            <% @exams.each_with_index do |exam,index| %>
              <div class="panel panel-default">
                <div class="panel-body exams-panel-body">
                  <div class="ov-hidden" style="min-height: 200px;overflow: hidden;width: 100%">
                     <%= link_to image_tag(exam.try(:sub_course).try(:course).attachment.content.url(:c_350_230), width: "100%"), show_courses_path(exam.try(:sub_course).try(:course).number), class: 'img' if exam.try(:sub_course).try(:course).attachment%>
                  </div>
                  <p class="exam-name">
                    <span ><%= link_to exam.try(:sub_course).try(:name), show_courses_path(exam.try(:sub_course).try(:course).try(:number)) %></span>
                  </p>
                  <div class="">
                    <div class="score-detail col-xs-6">
                    <p><span class="text-primary">&bull;</span>总分：100分</p>
                    <p><span class="text-primary">&bull;</span>时间：<%= exam.created_at.try(:strftime,'%Y-%m-%d').try(:to_s) %></p>
                    </div>
                    <div class="score-detail score-detail-right col-xs-6 text-center">
                      <p><span class="text-primary">&bull;</span>得分：<%= exam.total_score %>分</p>
                      <p><%= link_to "查看试卷",exam_path(exam.id) ,class: "btn-text-check"%></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end -%>
          <% end %> 
        </div>
      </div>
    </div>
    <div class="weui_tabbar">
        <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="path/to/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">完成的测试</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="path/to/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">即将开始的测试</p>
        </a>
    </div>
</div>