<div class="page">
  <div class="weui_panel_bd top">
    <a href="<%= edit_wechat_user_path(@user) %>" class="weui_media_box weui_media_appmsg">
      <div class="weui_media_hd image">
        <%= image_tag(@user.show_image, class: "weui_media_appmsg_thumb") %>
      </div>
      <div class="weui_media_bd">
        <h4 class="weui_media_title">欢迎您，<%= @user.show_name %>同学</h4>
        <p class="weui_media_desc"><%= show_current_time %></p>
      </div>
      <div class="weui_media_bd text-right small">
        <span class="glyphicon glyphicon-menu-right"></span>
      </div>
    </a>
  </div>
  <div class="weui_cells">
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>姓名</p>
      </div>
      <div class="weui_cell_ft"><%= @user.name%></div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>学号</p>
      </div>
      <div class="weui_cell_ft"><%= @user.number%></div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>系部</p>
      </div>
      <div class="weui_cell_ft"><%= @user.try(:grade).try(:specialty).try(:academy).try(:name) %></div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>专业</p>
      </div>
      <div class="weui_cell_ft"><%= @user.try(:grade).try(:specialty).try(:name) %></div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>班级</p>
      </div>
      <div class="weui_cell_ft"><%= @user.try(:grade).try(:name) %></div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>已学课程</p>
      </div>
      <div class="weui_cell_ft"><%= @numbers[:collect_course] %> 门</div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>未学课程</p>
      </div>
      <div class="weui_cell_ft">
        <% if @numbers[:course] == 0 %>
        0
        <% else %>
        <%= @numbers[:course] - @numbers[:collect_course] %>
        <% end %> 门
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>测试次数</p>
      </div>
      <div class="weui_cell_ft"><%= @numbers[:exams] %> 次</div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>提问数量</p>
      </div>
      <div class="weui_cell_ft"><%= @numbers[:question_comments] %> 条</div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>回答数量</p>
      </div>
      <div class="weui_cell_ft"><%= @numbers[:answer_comments] %> 条</div>
    </div>
  </div>
  
  <div class="buttons">
    <%= link_to "退出账户", destroy_user_session_path(c: :weixin), :method => :delete, class: "weui_btn weui_btn_warn" %>
  </div>
</div>