<%= content_for :nav do%>
  <li>
    <a href="<%= admin_root_path%>">后台</a>
  </li>
  <li>
    <a href="<%= admin_academies_path%>">专业列表</a>
  </li>
  <li>
    <a href="<%= admin_academy_path(@academy)%>"><%= @academy.name %></a>
  </li>
  <li class="active">修改</li>
  <hr></hr>
  <%= render 'form' %>
<%end%>