<%= content_for :script do %>
  <%= javascript_include_tag  "modal_pdf", 'data-turbolinks-track' => false %>
<%end%>

<a href="javascript:void(0)" class="btn btn-primary by-btn-bg"><strong>课程资源</strong></a>
<ul class="container-fluid">
  <li class="col-sm-12 my-title"><strong>课件讲义</strong></li>
  <li class="col-sm-12">
    <a href="/pdfs/1/test.pdf" data-toggle="modal" data-target="#myModal" class="col-sm-10 view-pdf">学习任务3混合动力汽车使用与维修讲义1</a>
    <a href="/pdfs/1/test.pdf" data-toggle="modal" data-target="#myModal" class="col-sm-2 text-center view-pdf"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;阅读</a>
  </li>
  <li class="col-sm-12 my-title"><strong>教学视频</strong></li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">16-视频-14-磁场对通电直导线的作用试验</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">PRIUS的工况描述林金地</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">比亚迪e6轿车故障诊断仪使用张云</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">废气检测软件演示张璐嘉</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">混合动力汽车各工况俞冬辉</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
   <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">开关磁阻新能源机_工作原理视频</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
   <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">万用表检测故障软件演示</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">相位传感器安装俞冬辉</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
   <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车对电池的要求-黄虎</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12 my-title"><strong>★博世公司职教年会新能源汽车研讨培训资源</strong></li>

  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车大讲堂</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;阅读</a>
  </li>
  <li class="col-sm-12 my-title"><strong>★聚合物锂离子动力电池基础知识培训资源</strong></li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">2 锂离子电池基础知识培训教材</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;阅读</a>
  </li>
  <li class="col-sm-12 my-title"><strong>新能源汽车资源课件</strong></li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第一章新能源汽车基础</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第二章常规能源</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第三章太阳能用及其利用</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第四章风能及其利用</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第五章水力能与海洋能</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第六章生物质能及其利用</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第七章核能及其利用</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第八章氢能</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第九章地热能资源及其应用工</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">第十章可燃冰</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">1 动力锂电池的应用</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">2 锂离子电池基础知识培训教材</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">3 超级电容器</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">4 储氢燃料电池的发展状况及关键材料技术</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">5 非晶硅薄膜太阳能电池－PECVD</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">6 太阳能电池特性</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>

  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">7 新能源汽车电池热管理系统</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车动力电池基础知识</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">氢燃料电池应用案例</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车电池</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12 my-title"><strong>★全国新能源汽车研讨培训资源</strong></li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">麒麟EV创业谷”创新与思考—冯峰</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">EPS,ESP,CDC--皮大伟</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">车联网技术应用及思考--张凝露</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">车辆远程监控系统--杜国平</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">车载CAN总线技术-屈敏201508</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">纯新能源车维修案例分析—李阿桥/a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车充电设施及运营综述 -陈滋健</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车充换电服务网络及标准化—吾喻明</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车的轻量化设计-赵振东/a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车高压安全-吴海啸</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源商用车整车开发与设计 --张涌</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">共轨柴油技术--王文山</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">会议小结与展望-彭富明</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">混合动力技术及应用-姜朋昌</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">锂离子动力电池及其应用—孙伟</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">驱动与控制技术-樊卫华</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">燃料电池技术2003版-戚志东</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车产业发展与企业人才需求-汪先锋</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>
  <li class="col-sm-12">
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-10">新能源汽车产业现状及热点分析-张谦</a>
    <a href="<%= show_courses_path(@course.number, anchor: "main-video")%>" class="col-sm-2 text-center"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;观看</a>
  </li>

</ul>