<div class="main-content">
  <nav class="navbar navbar-default search-nav-modal wrapper">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="#" class="mbtn text-center col-xs-5" data-toggle="collapse" data-target="#address-navbar-collapse" aria-expanded="false">系别</a><a href="" class="col-xs-2">|</a>
      <a href="#" class="mbtn text-center col-xs-5 work-nav" data-toggle="collapse" data-target="#type-navbar-collapse" aria-expanded="false">其他</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="type-navbar-collapse">
      <div class="nav navbar-nav text-center serach-content"> 
        <ul class="nav nav-pills serach-course">
          <li param="" class="active col-xs-6"><a href="#">全部</a></li>
          <li param="new" class="col-xs-6"><a href="#">最新</a></li>
          <li param="hot" class="col-xs-6"><a href="#">最热</a></li>
          <li param="1" class="col-xs-6"><a href="#">市级</a></li>
          <li param="2" class="col-xs-6"><a href="#">校级</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->

    <div class="collapse navbar-collapse" id="address-navbar-collapse">
      <div class="nav navbar-nav text-center serach-content">  
          <ul class="nav nav-pills serach-course">
            <li param="" class="active col-xs-6"><a href="#">全部</a></li>
            <% @academies.each_with_index do |academy, index| %>
              <li param="<%= academy.id %>"class="col-xs-6"><%= link_to academy.name, "#" %></li>
            <% end %>
          </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  <div id="courseList" class="vedio-course-content wrapper">
    <%= render partial: "course" %>
  </div>
</div>
<%= link_to "", "#", id: "ajaxIndex", style: "display: none;", remote: true, format: :js %>

<script type="text/javascript">
  $('.serach-content ul a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');

    var url = "<%= wechat_courses_path %>";
    url += "?"
    $('.serach-content ul').find(".active").each(function(index){
      var param = $(this).attr("param");
      if(index == 1){
        url = url + "&academy_id=" + param
      }else if(index == 0){
        url = url + "scope=" + param
      }else if(index == 1){
        url = url + "&type=" + param
      }
    });
    $("#ajaxIndex").attr("href", url);
    $("#ajaxIndex").click();
  })
</script>