<div class="weui_tab main-content">
  <div class="weui_tab_bd content">
    <% if @sub_course.regex_video || @sub_course.attachment.file_url.present? %>
      <div class="video-content">
        <!-- video -->
        <% if @sub_course.attachment && @sub_course.attachment.file_url.present? %>
          <video width="100%" height="250" class="mejs-player" controls="controls" preload="none">
            <source type="video/mp4" src="<%= @sub_course.attachment.file_url %>" />
            <source type="video/webm" src="myvideo.webm" />
            <source type="video/ogg" src="myvideo.ogv" />
          </video>
        <% else %>
          <video width="100%" height="250" class="mejs-player" poster="<%= (@sub_course.attachment.content.url(:c_860_500))%>" controls="controls" preload="none">
            <source type="video/mp4" src="<%= @sub_course.attachment.content.url %>" />
            <source type="video/webm" src="myvideo.webm" />
            <source type="video/ogg" src="myvideo.ogv" />
          </video>
        <% end %>
      </div>
      <div class="wechat-comments-content">
        <%= render :partial => "comment_show" , locals: {comments: @comments }%>
      </div>
    <% else %>
      <div class="file-content text-center">
        <h4>微信版暂不支持查看文档文件！请登陆网页版课程中心查看！</h2>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= render partial: "tabbar" %>
  </div>
</div>