<%= content_for :nav do%>
  <li>
  	<%= link_to "后台", admin_root_path %>
  </li>
  <!-- <li>
    <a href="#{admin_courses_path}">课程列表</a>
  </li>
  <li>
    <a href="#"><%= @course.id %></a>
  </li> -->
  <li class="active">子课程列表</li>
<%end%>

<hr></hr>
<table class="table table-hover table-bordered text-center">
	<thead>
		<tr>
		  <th class="col-sm-2 text-center">题目标题</th>
			<th class="col-sm-2 text-center">正确选项</th>
      <th class="col-sm-6 text-center">题目分析</th>
<!--       <th class="col-sm-2 text-center">操作</th> -->
		</tr>
	</thead>
	<tbody>
		<%= render @questions %>
	</tbody>
</table>
<%= paginate @questions%>
<hr></hr>

<% if can? :manage, Question %>
  <%= form_tag import_admin_questions_path, multipart: true do %>
    <%= hidden_field_tag :sub_course_id, @sub_course.id%>
    <%= hidden_field_tag :course_id, @course.id%>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <%= file_field_tag :file, class: 'form-control' %>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-success excel-btn" type="submit">
            <span class="glyphicon glyphicon-floppy-save">导入EXCEL试题</span>
          </button>
          <%= link_to "导入模板下载", "/excels/子课程测试题导入模板.xlsx", class: "btn btn-primary" %>
          <%= link_to "清空试题", clear_admin_course_sub_course_questions_path(params[:course_id], params[:sub_course_id], params[:id]), data: {confirm: "确定清空所有试题吗？"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<script type="text/javascript">
  $(".excel-btn").click(function(){
    if($("#file").val()==""){
      alert("请先选择所需上传的文件！");
      return false;
    }
  });
</script>