<div id="left-bar">
  <div class="out-wrap">
    <div class="top-title">
      个人中心
    </div>
    <ul class="list">
      <li class="active">
        <%= link_to my_courses_teachers_path, class: 'active' do %>
          <span class="glyphicon glyphicon-film">我的课程</span>
        <%end%>
      </li>
      <li>
        <%= link_to my_grades_teachers_path, class: 'active' do %>
          <span class="glyphicon glyphicon-tasks">我的班级</span>
        <%end%>
      </li>
      <li>
        <%= link_to "", class: 'active' do %>
          <span class="glyphicon glyphicon-eye-open">成绩查询</span>
        <%end%>
      </li>
      <li>
        <%= link_to "", class: 'active' do %>
          <span class="glyphicon glyphicon-book">我的问答</span>
        <%end%>
      </li>
      <li>
        <%= link_to "", class: 'active' do %>
          <span class="glyphicon glyphicon-list-alt">讨论中心</span>
        <%end%>
      </li>
      <li>
        <%= link_to "", class: 'active' do %>
          <span class="glyphicon glyphicon-upload">上传课件</span>
        <%end%>
      </li>
      <li>
        <%= link_to "", class: 'active' do %>
          <span class="glyphicon glyphicon-user">教师介绍</span>
        <%end%>
      </li>
      <li>
        <%= link_to "", class: 'active' do %>
          <span class="glyphicon glyphicon-cog">我的账户</span>
        <%end%>
      </li>
    </ul>
  </div>
</div>