<div id="teacher-info" class="teacher-wrapper">
	<div class="teacher-img">
		<%= image_tag( current_teacher.show_image )%>
	</div>
	<div class="teacher-data">
	  <div class="title-content">
      <p class="title">基本信息</p>
      <p class="line"></p>
	  </div>
	  <ul>
	  	<li class="width-50">
	  		姓名:	<%= current_teacher.name %>
	  	</li>
	  	<li class="width-50">
	  		出生年月:	 <%= current_teacher.birthday %>
	  	</li>
	  	<li class="width-50">
	  		专业技术职位:	<%= current_teacher.tec_position %>
	  	</li>
	  	<li class="width-50">
	  		所属院系:	 <%= current_teacher.try(:academy).try(:name) %>
	  	</li>
	  	<li class="width-50">
	  		手机号码:	 <%= current_teacher.phone %>
	  	</li>
	  	<li class="width-50">
	  		电子邮箱:	 <%= current_teacher.email %>
	  	</li>
	  	<li class="width-50">
	  		资格证书:	 <%= current_teacher.qualification %>
	  	</li>
	  	<li class="width-50">
	  		传真号码:	 <%= current_teacher.fax %>
	  	</li>
	  	<li class="width-50">
	  		最终学历:	 <%= current_teacher.final_education %>
	  	</li>
	  	<li class="width-50">
	  		最高学位:	 <%= current_teacher.final_degree %>
	  	</li>
	  	<li class="width-100">
	  		教学与技术专长:	 C语言程序基础，ASP.NET开发， java编程基础， 数据库技术
	  	</li>
	  </ul>
	  <div class="title-content">
      <p class="title">工作简历</p>
      <p class="line"></p>
	  </div>
	  <ul>
		<% if current_teacher.resume.present? %>
		  	<% current_teacher.resume.split("\r\n").each do |resume| %>
			  	<li class="width-100">
			  		<%= resume %>
			  	</li>
		  	<% end %>
		<% else %>
			<li class="width-100">暂未填写工作简历 <%= link_to "前往填写>>", "#{my_account_teachers_path}#teacher_resume" %></li>
		<% end %>
	  </ul>
	</div>
</div>