<%= content_for :script do %>
  <%= javascript_include_tag "_teachers", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :crumbs do%>
  <ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>当前位置</li>
    <li><%= link_to "首页", root_path %></li>
    <li class="active">教师风采</li>
  </ol>
<% end %>

<div class="main-content">
  <section class="common-title">
  	<span class="pull-left">教师风采</span>
  </section>
  <ul class="teachers-list">
    <% @teachers.each do |teacher|%>
      <li>
        <%= link_to image_tag(teacher.image.avatar.url(:t_170_220)), show_teachers_path(teacher.number) if teacher.image%>
        <p><%= teacher.name %>(<%= teacher.final_degree %>)</p>
      </li>
    <%end%>
  </ul>
  <%= paginate @teachers%>
</div>