<%= content_for :script do %>
  <%= javascript_include_tag "_teacher_page" %>
<%end%>

<div class="main-content">
	<%= render "left_bar" %>
	<div class="teacher-content teacher-wrapper none-mt">
  	<div class="nav-bar">
  		<a href="javascript:void(0)" class="btn btn-default by-btn-bg">个人资料</a>
  		<a href="javascript:void(0)" class="btn btn-default">修改密码</a>
  	</div>
  	<div class="teacher-info-content teacher-wrapper">
  		<div class="infos">
		  	<%= simple_form_for current_teacher, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: {file: :horizontal_file_input } do |f|%>
		  		<%= f.input :name, label: "姓名" %>
		  		<%= f.input :avatar, as: :file, label: "我的头像" %>
		  		<%= f.submit "确认修改"%>
  		 	<%end%>
  		</div>
  		<div class="infos">
  		 	<%= simple_form_for current_teacher, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|%>
          <%= f.input :password, label: "原始密码", placeholder: '请输入原始密码', autofocus: false %>
          <%= f.input :new_password, label: "新密码", placeholder: '请输入新密码', autofocus: false %>
          <%= f.input :confirm_new_password, label: "确认密码", placeholder: '请输入确认密码', autofocus: false %>
          <%= f.button :submit, "确认修改"%>
        <%end%>
  		</div>
  	</div>
  </div>
</div>