<div class="main-content">
  <%= render "left_bar" %>
  <%= render "teacher_info" %>
  <div class="teacher-content teacher-wrapper">
  	<div class="nav-bar">
  		<span class="btn btn-primary by-btn-bg">课程中心</span>
      <%= link_to "创建课程", new_sub_course_path, remote: true, class: 'btn btn-primary by-btn-bg pull-right'%>
  	</div>
    <ul id="subCoursesList">
      <% @sub_courses.each do |sub_course|%>
        <li>
          <span class="title"><%= sub_course.name %></span>
          <%= link_to "导入试题", edit_sub_course_path(sub_course), remote: true, class: "upload pull-left" %>
          <%= link_to "编辑", edit_sub_course_path(sub_course), remote: true, class: "edit pull-left" %>
          <%= link_to "删除", "", class: "delete pull-left" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>