<div class="main-content">
	<%= render "left_bar" %>
  <%= render "teacher_info" %>
  <div class="teacher-content teacher-wrapper">
  	<div class="nav-bar">
  		<span class="btn btn-primary by-btn-bg">我的班级</span>
  	</div>
    <% if @grades.blank? %>
      <div class="blank-alert">
        <%= render partial: 'common/blank_alert', locals: {message: '您暂未分配到任何班级，请联系管理员!'}%>
      </div>
    <% else %>
      <ul class="grades-list">
        <% @grades.each do |grade| %>
          <li class="grade">
            <%= link_to image_tag("teacher-grade.png"), grade_students_teacher_path(grade.id) %>
            <div class="description">
              <div class="name">系别：<%= grade.try(:specialty).try(:academy).try(:name) %></div>
              <div class="name">专业：<%= grade.try(:specialty).try(:name) %></div>
              <div class="name">班级：<%= grade.try(:name) %></div>
            </div>
          </li>
        <%end%>
      </ul>
    <% end %>
  </div>
</div>