<%= content_for :script do %>
  <%= javascript_include_tag "_teacher_page",'data-turbolinks-track' => true %>
<%end%>

<div class="main-content">
  <%= render "left_bar" %>

  <div class="teacher-wrapper">

  	<div class="search-step col-sm-offset-3">
  	  <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="javascript:void(0)">第一步 选择专业</a></li>
          <li role="presentation"><a href="javascript:void(0)">第二步 选择班级</a></li>
          <li role="presentation"><a href="javascript:void(0)">第三步 选择课程</a></li>
          <li role="presentation"><a href="javascript:void(0)">第四步 选择测试</a></li>
        </ul>
  	</div>
  	<%= form_tag select_grade_teachers_path, method: :get, id: "scoreSearch" do %>
  		<% @specialties.each_with_index do |specialtie,index| %>
  		  <% if index%4 == 0 %>
  		  <div class="condition-row">
  		  <% end %>
  			<div class="col-sm-3">
  			  <%= radio_button_tag "specialty_id", specialtie[0], specialtie[0].to_s == params[:specialty_id] %>
  			  <label for="specialty_id_<%= index + 1 %>"><%= specialtie[1] %></label>
  			</div>
  		  <% if index%4 == 3 %>
  		  </div>
  		  <% end %>
  		<% end %>

      <% if @specialties.length % 4 != 3 %>
         </div>
      <% end %>

  		<div class="search-score-btn">
  		  <a href="<%= root_path%>" class="btn btn-danger">
  		    <span class="glyphicon glyphicon-home"></span> 返回首页
  		  </a>
  		  <%= button_tag(type: "submit", class: "btn btn-primary", disabled: params[:specialty_id].blank? , id: "nextStep") do %>
  		    下一步  <span class="glyphicon glyphicon-hand-right"></span>
  		  <% end %>
  		</div>
  	<% end %>
  </div>
</div>