<%= content_for :script do %>
  <%= javascript_include_tag "_teacher_page" %>
<%end%>

<div class="main-content">
  <%= render "left_bar" %>
  <div class="teacher-wrapper">
    <div class="search-step col-sm-offset-3">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="javascript:void(0)">第一步 选择专业</a></li>
        <li role="presentation"><a href="javascript:void(0)">第二步 选择班级</a></li>
        <li role="presentation"><a href="javascript:void(0)">第三步 选择课程</a></li>
        <li role="presentation" class="active"><a href="javascript:void(0)">第四步 选择测试</a></li>
      </ul>
    </div>
    <%= form_tag show_score_teachers_path, method: :get, id: "scoreSearch" do %>
      <% if @sub_courses.present? %>
        <% @sub_courses.each_with_index do |sub_course,index| %>
          <div class="condition-row">
            <div class="col-sm-10">
              <%= radio_button_tag "sub_course_id", sub_course[0] %>
              <label for="sub_course_id_<%= index + 1 %>"><%= sub_course[1] %></label>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="blank">当前课程没有测试</div>
      <% end %>

      <%= hidden_field_tag "specialty_id", params[:specialty_id]%>
      <%= hidden_field_tag "course_id", params[:course_id]%>
      <%= hidden_field_tag "grade_ids", params[:grade_ids] %>
      <div class="search-score-btn">
        <button type="button" class="btn btn-primary" onclick="this.form.action='<%= select_course_teachers_path%>';this.form.submit();">
        <span class="glyphicon glyphicon-hand-left"></span>上一步</button>
        <%= button_tag(type: 'submit', class: "btn btn-success", id: "nextStep", disabled: true) do %>
          下一步  <span class="glyphicon glyphicon-hand-right"></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>