<%= content_for :script do %>
  <%= javascript_include_tag 'echarts/echarts-all','data-turbolinks-track' => true %>
<% end %>
<div class="main-content">
  <%= render "left_bar" %>

  <div class="teacher-wrapper show-score">
    <div class="show-score-title">
      <div class="main-title"><%= @sub_course.name %> 测试</div>
    </div>

  <div id="everyGradeScore" class="grade-picture">
    <div class="average-score row">
      <div class="sub-title"><span class="badge">1</span>该课程题目错误人数统计图</div>
        <div id="wrongPercentage" class="col-sm-11"></div>
    </div>

    <div class="search-score-btn">
      <button type="button" class="btn btn-primary btn-lg">导出EXCEL</button>
      <%=link_to "返回首页", root_path, class: "btn btn-danger btn-lg" %>
    </div>
  </div>

  </div>
</div>

<script type="text/javascript">
  var wrongPercentage = echarts.init(document.getElementById('wrongPercentage')); 

  option = {
    tooltip: {
        trigger: 'item'
    },
    xAxis: [
        {
            type: 'category',
            data: [
              <% @questions.each_with_index do |question, index| %>
                <%= (index + 1).to_s %>,
              <% end %>
            ],
            name: "题目/题"
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: "错误人数",
            splitNumber: 10
        }
    ],
    series: [
        {
            type: 'bar',
            itemStyle: {
                normal: {
                    color: function(params) {
                        var colorList = [
                          '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                           '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                           '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0',
                           '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                           '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD'
                        ];
                        return colorList[params.dataIndex]
                    },
                    label: {
                        show: true,
                        position: 'top',
                        formatter: '{c}'
                    }
                }
            },
            data: [
              <% @questions.each_with_index do |question, index| %>
                <%= @false_count[question.id].present? ? @false_count[question.id] : 0 %>,
              <% end %>
            ],
        }
    ]
  };
  wrongPercentage.setOption(option); 
</script>