<%= content_for :script do %>
  <%= javascript_include_tag 'echarts/echarts-all','data-turbolinks-track' => true %>
<% end %>
<div class="main-content">
  <%= render "left_bar" %>

  <div class="teacher-wrapper show-score">
  	<div class="show-score-title">
  	  <a href="javascript:void(0)" class="btn btn-primary">教师查阅</a>
      <div class="main-title"><%= @course.name %>测试</div>
  	</div>
	
	<div id="mutilGradepicture" class="mutil-grade-picture">
	  <div class="average-score row">
		  <div class="sub-title"><span class="badge">1</span>每个班每门课的平均分统计图</div>
	  	  <div id="averageScore" class="col-sm-8"></div>
	  	  <div class="col-sm-4">
	  	  	<div>平均分最高的班级是：<span>计算机（5）班</span></div>
	  	  	<div>平均分最低的班级是：<span>计算机（4）班</span></div>
	  	  </div>
		</div>

		<div class="score-percentage">
		  <div class="sub-title"><span class="badge">2</span>每个班的分数段分布概率统计图</div>

		  <div class="row">
		  	<div class="col-sm-4 score-percentage-picture"></div>
	  	  	<div class="col-sm-4 score-percentage-picture"></div>
	  	  	<div class="col-sm-4 score-percentage-picture"></div>
		  </div>

		  <div class="row">
		  	<div class="col-sm-4 score-percentage-picture"></div>
	  	  	<div class="col-sm-4 score-percentage-picture"></div>
	  	  	<div class="col-sm-4 score-percentage-picture"></div>
		  </div>
		</div>

		<div class="search-score-btn">
			<button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-export"></span>
			导出EXCEL</button>
			<%= link_to show_grade_score_teachers_path, class: "btn btn-danger" do %>
			  进入下一页  <span class="glyphicon glyphicon-hand-right"></span>
		  <% end %>
		</div>
	</div>

  </div>
</div>

<script type="text/javascript">
  var averageScore = echarts.init(document.getElementById('averageScore')); 
  option = {
    tooltip: {
        trigger: 'item'
    },
    xAxis: [
        {
            type: 'category',
            data: ['1班', '2班', '3班', '4班', '5班', '6班', '7班'],
            name: "班级"
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: "平均分",
            splitNumber: 10
        }
    ],
    series: [
        {
            type: 'bar',
            itemStyle: {
                normal: {
                    color: function(params) {
                        // build a color map as your need.
                        var colorList = [
                          '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                           '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                           '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                        ];
                        return colorList[params.dataIndex]
                    },
                    label: {
                        show: true,
                        position: 'top',
                        formatter: '{c}'
                    }
                }
            },
            data: [70,60,80,50,90,70,85],
        }
    ]
  };	
  averageScore.setOption(option);  

  //==========================================================================================================================

	$('.score-percentage-picture').each(function(index){
		var scorePercentage = echarts.init($(this).get(0)); 
		option = {
			title: {
				x: "center",
				y: "bottom",
				text: "计算机（" + (index+1) + "）班"
			},
		    tooltip : {
		        trigger: 'item',
		        formatter: "{b} : {c}人 ({d}%)"
		    },
		    series : [
		        {
		            name:'分数段',
		            type:'pie',
		            radius : "40%",
		            center: ['50%', '50%'],
		            itemStyle : {
		                normal : {
		                    label : {
		                        position : 'outter',
		                        formatter : function (params) {                         
		                          return params.name + ':' + (params.percent - 0).toFixed(0) + '%'
		                        }
		                    },
		                    labelLine : {
		                        show : true
		                    }
		                },
		                emphasis : {
		                    label : {
		                        show : true,
		                        formatter : "{b}\n{d}%"
		                    }
		                }
		                
		            },
		            data:[
		                {value:10, name:'60分以下'},
		                {value:14, name:'60-70分'},
		                {value:23, name:'70-80分'},
		                {value:8, name:'80-90分'},
		                {value:4, name:'90分以上'}
		            ]
		        }
		    ]
		};
    scorePercentage.setOption(option);   
	});
</script>