<div class="main-content">
  <section class="common-title">
    <span class="pull-left">编辑测试</span>
  </section>
  
  <div class="exams-list container">
    <%= simple_form_for(@paper, url: paper_path(@paper), method: :put, wrapper: "horizontal_form28", html: { class: "form-horizontal", multipart: true }) do |f| %>
      <%= f.input :course_id, collection: current_teacher.courses %>
      <%= f.input :name %>
      <%= f.input :content %>
      <%= f.input :start_at, as: :string, placeholder: "请输入YYYY-MM-DD格式的日期" %>
      <%= f.input :end_at, as: :string, placeholder: "请输入YYYY-MM-DD格式的日期" %>
      <div class="col-sm-8 col-sm-offset-1 text-center">
        <%= f.submit "提交", class: "btn btn-success" %>
      </div><br>
    <% end %>
  </div>
</div>
