<div class="main-content">
  <section class="common-title">
    <span class="pull-left">考试中心</span>
  </section>

  <ul id="examListMenu" class="nav nav-pills discuss-menu">
    <li class="<%= 'active' if params[:type].blank? %>"><%= link_to("即将开始", papers_path) %></li>
    <li class="<%= 'active' if params[:type] == 'ing' %>"><%= link_to("正在进行", papers_path(type: "ing")) %></li>
    <li class="<%= 'active' if params[:type] == 'end' %>"><%= link_to("已结束", papers_path(type: "end")) %></li>
    <% if teacher_signed_in? %>
      <li class="navbar-right create-discuss">
        <%= link_to new_paper_path do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新建测试
        <% end %>
      </li>
    <% end %>
  </ul>
  <br>
  <div class="exams-list">
    <table class="table table-bordered">
      <tr>
        <th>测试科目</th>
        <th>测试标题</th>
        <th>测试内容</th>
        <th>测试时间</th>
        <th>测试人数</th>
        <% if teacher_signed_in? || (user_signed_in? && params[:type].present?) %>
          <th>操作</th>
        <% end %>
      </tr>
      <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.course.name %></td>
        <td><%= paper.name %></td>
        <td><%= paper.content %></td>
        <td align="center"><%= paper.start_at.strftime("%F") %>至<%= paper.end_at.strftime("%F") %></td>
        <td align="center">
          <%= params[:type].present? ? "#{paper.user_papers.answered.size }/#{paper.user_papers.size }" : paper.user_papers.size %>
        </td>
        <% if teacher_signed_in? || (user_signed_in? && params[:type].present?) %>
        <td align="center">
          <% if teacher_signed_in? %>
            <%= link_to("编辑", edit_paper_path(paper)) %> | 
            <%= link_to("试卷", questions_paper_path(paper)) %> |
            <%= link_to("考生", students_paper_path(paper)) %> | 
            <%= link_to("删除", paper_path(paper), method: :delete, data: { confirm: "确认删除该测试？" } ) %>
          <% elsif user_signed_in? %>
            <% if params[:type] == 'ing' %>
              <%= link_to("进入测试", new_paper_answer_path(paper)) %>
            <% elsif params[:type] == 'end'%>
              <%= link_to("成绩查询", detail_paper_user_papers_path(paper)) %>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>

</div>

