<%= content_for :script do %>
  <%= javascript_include_tag "_user" %>
<% end %>
<div class="row user">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">

    <div class="row common-info">
      <%= render :partial => "base_info" %>
	  </div>

	  <div class="row self-main-context">

	    <ul class="nav nav-pills show-content">
        <li role="presentation" class="active"><%= link_to "最新话题","#" %></li>
        <li role="presentation"><%= link_to "热门话题","#" %></li>
        <li role="presentation"><%= link_to "等待回复","#" %></li>
      </ul>

      <!-- ######################最新话题##################### -->
      <div class="div-content discuss-center-content">
      <% (1..8).each do |i| %>
        <div class="row discuss-center-list">
          <div class="col-sm-1 no-padding">
            <%= image_tag current_user.try(:image).try(:avatar).try(:url, :thumb),class: "img-circle max60" %>
            <p class="center-block grey-font">斯塔克</p>
          </div>
          <div class="col-sm-9">
            <h5>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              关于 生命变量var timer=null 的位置问题
            </h5>
            <p>
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
              <span class="grey-font">嗯 ~ ~，这个问题大家都在考虑</span>
            </p><br>
            <div class="grey-font">
              提问时间：2小时前
              <span class="label label-default">JavaScript</span>
            </div>
          </div>
          <div class="col-sm-2 grey-font">
            <table class="table no-border">
              <tr align="center"><td>0</td><td class="left-border">7</td></tr>
              <tr align="center"><td>回答</td><td class="left-border">浏览</td></tr>
            </table>
          </div>
        </div>
        <% end %>
      </div>
      <!-- ######################最新话题##################### -->

      <!-- ######################热门话题##################### -->
      <div class="div-content discuss-center-content" style="display: none;">
      <% (1..8).each do |i| %>
        <div class="row discuss-center-list">
          <div class="col-sm-1 no-padding">
            <%= image_tag current_user.try(:image).try(:avatar).try(:url, :thumb),class: "img-circle max60" %>
            <p class="center-block grey-font">须佐能乎</p>
          </div>
          <div class="col-sm-9">
            <h5>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              为什么我的代码不能拍照
            </h5>
            <p>
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="grey-font">[最新回答] </span>
              <span><%= image_tag "missing.png",class: "img-circle max20" %>雪舞：</span>
              <span class="grey-font">这两行代码，把里面text的双引号换成单引号，最后的小括号去掉就可以了</span>
            </p><br>
             <div class="grey-font">
              提问时间：2小时前
              <span class="label label-default">JavaScript</span>
            </div>
          </div>
          <div class="col-sm-2 grey-font">
            <table class="table no-border">
              <tr align="center"><td>2</td><td class="left-border">7</td></tr>
              <tr align="center"><td>回答</td><td class="left-border">浏览</td></tr>
            </table>
          </div>
        </div>
        <% end %>
      </div>
      <!-- ######################热门话题##################### -->

       <!-- ######################等待回复##################### -->
      <div class="div-content discuss-center-content" style="display: none;">
      <% (1..8).each do |i| %>
        <div class="row discuss-center-list">
          <div class="col-sm-1 no-padding">
            <%= image_tag current_user.try(:image).try(:avatar).try(:url, :thumb),class: "img-circle max60" %>
            <p class="center-block grey-font">乌尔奇奥拉</p>
          </div>
          <div class="col-sm-9">
            <h5>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              关于 生命变量var timer=null 的位置问题
            </h5>
            <p>
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
              <span class="grey-font">嗯 ~ ~，这个问题大家都在考虑</span>
            </p><br>
            <div class="grey-font">
              提问时间：2小时前
              <span class="label label-default">JavaScript</span>
            </div>
          </div>
          <div class="col-sm-2 grey-font">
            <table class="table no-border">
              <tr align="center"><td>0</td><td class="left-border">7</td></tr>
              <tr align="center"><td>回答</td><td class="left-border">浏览</td></tr>
            </table>
          </div>
        </div>
        <% end %>
      </div>
      <!-- ######################等待回复##################### -->
    </div>
  </div>
</div>