<%= content_for :script do %>
  <%= javascript_include_tag "_user" %>
  <%= javascript_tag do %>
    action = "<%= controller.action_name %>"
  <% end %>
  <%= javascript_include_tag "_user_discuss_center" %>
<% end %>
<div class="row user">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">

    <div class="row common-info">
      <%= render :partial => "base_info", locals: {numbers: @numbers} %>
	  </div>

	  <div class="row self-main-context">

	    <ul class="nav nav-pills show-content">
        <li role="presentation" class="active"><%= link_to "我的评论","#" %></li>
      </ul>

      <!-- ######################我的评论##################### -->
      <div class="div-content discuss-center-content">
        <% if @comments.blank? %>
          <div class="blank">暂时没有评论</div>
        <% else %>
          <% @comments.each do |comment| %>
            <div class="row discuss-center-list">
              <div class="col-sm-1 no-padding">
                <%= image_tag comment.try(:usertable).try(:show_image),class: "img-circle max60" %>
                <p class="center-block grey-font"><%= comment.try(:usertable).try(:show_name) %></p>
              </div>
              <div class="col-sm-9">
                <h5>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                  <%= link_to comment.body,show_sub_courses_path(comment.try(:commentable).try(:number),course_number: comment.try(:commentable).try(:course).try(:number))%>
                </h5>
                <p>
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  <% if comment.has_children? %>
                    <span class="text-muted">[最新回答]</span>
                    <span><%= comment.children.last.try(:usertable).try(:show_name) %>:<span>
                    <span class="text-muted">
                      <%= link_to comment.children.last.try(:body),show_sub_courses_path(comment.try(:commentable).try(:number),course_number: comment.try(:commentable).try(:course).try(:number))%>
                    </span>
                  <% else %>
                    <span class="text-muted">嗯 ~ ~，这个提问大家都在考虑....</span>
                  <% end %>
                </p><br>
                <div class="grey-font">
                  <%= comment.created_at.try(:strftime,'%Y-%m-%d %H:%M:%S') %>
                  <span class="label label-default">JavaScript</span>
                </div>
              </div>
              <div class="col-sm-2">
                <table class="table no-border text-muted">
                  <tr align="center">
                    <td class="<%= comment.has_children? ? "text-success" : "text-muted"%>"><%= comment.children.size %></td>
                    <td class="left-border">0</td>
                  </tr>
                  <tr align="center">
                    <td class="<%= comment.has_children? ? "text-success" : "text-muted"%>">回答</td>
                    <td class="left-border">浏览</td>
                  </tr>
                </table>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="paginate text-center">
        <%= paginate @comments %>
      </div>
      <!-- ######################我的评论##################### -->



    </div>
  </div>
</div>