<%= content_for :script do %>
  <%= javascript_include_tag "_user" %>
<% end %>
<div class="row user">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">

    <div class="row common-info">
      <%= render :partial => "base_info", locals: {numbers: @numbers} %>
	  </div>

	  <div class="row self-main-context">

	    <ul class="nav nav-pills show-content">
        <li role="presentation" class="active"><%= link_to "收藏的课程","#" %></li>
      </ul>
      <div class="div-content my-collect-content">
      <% if @collect_course.blank? %>
        <div class="blank">没有收藏的课程</div>
      <% else %>
        <% @collect_course.each_with_index do |course,index| %>
          <% if index%3 == 0 %>
            <div class="row collect-list">
          <% end %>

          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="ov-hidden"><%= link_to image_tag("my_collect1.png"), show_courses_path(course.number)%></div>
                <div class="collect-desc">
                  <h5><%= link_to course.name, show_courses_path(course.number) %></h5>
                  <div>
                    该课程一个15个课时
                    <span class="pull-right">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <%= course.get_likes(vote_scope: :collect).size %>人收藏
                    </span>
                  </div>  
                </div>
              </div>
            </div>
          </div>

          <% if index%3 == 2 %>
            </div>
          <% end %>

        <% end %>
        
      <% end %>

	    </div>
    </div>
  </div>
</div>