<%= content_for :script do %>
  <%= javascript_include_tag "_user" %>
<% end %>
<div class="row user">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">

    <div class="row common-info">
      <%= render :partial => "base_info" %>
	  </div>

	  <div class="row self-main-context">

	    <ul class="nav nav-pills show-content">
        <li role="presentation" class="active"><%= link_to "完成的考试","#" %></li>
        <li role="presentation"><%= link_to "即将开始的考试","#" %></li>
      </ul>

      <!-- ###########################完成的考试########################## -->
      <div class="my-exams-container div-content">
        <% if @complete_exams.blank? %>
          <div class="blank">没有已完成的考试</div>
        <% else %>
          <% @complete_exams.each do |exam| %>
            <div class="row my-exams">
              <div class="col-sm-3 ov-hidden">
                <%= link_to image_tag("my-course.png"), show_courses_path(exam.try(:sub_course).try(:course).try(:number)) %>
              </div>
              <div class="col-sm-9">
                <div class="my-exams-desc"> 
                  <h4>
                    <%= link_to exam.try(:sub_course).try(:name), show_courses_path(exam.try(:sub_course).try(:course).try(:number)) %><br>
                    <small>
                      <span>考试时间：40分钟</span>
                    </small>
                  </h4><br>
                  <p><%= exam.try(:sub_course).try(:content)%></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        
      </div>
      <!-- ###########################完成的考试########################## -->

      <!-- ###########################即将开始的考试########################## -->
      <div class="my-exams-container div-content" style="display: none;" >
        <div class="row my-exams">
          <div class="col-sm-3 ov-hidden">
            <%= image_tag "my-course.png" %>
          </div>
          <div class="col-sm-9">
            <div class="my-exams-desc"> 
              <h4>CSS实现网页平滑过渡效果<br>
                <small>
                  <span>考试开始时间：2015-07-01 14:00:00</span>
                  <span>考试时间：1小时30分钟</span>
                </small>
              </h4><br>
              <p>本课程为Android消息推送的进阶篇，本课程重点讲解....本课程为Android消息推送的进阶篇，本课程重点讲解....本课程为Android消息推送的进阶篇，本课程重点讲解....本课程为Android消息推送的进阶篇，本课程重点讲解....</p>
            </div>
          </div>
        </div>
      </div>
      <!-- ###########################即将开始的考试########################## -->

    </div>

  </div>

</div>