<%= content_for :script do %>
  <%= javascript_include_tag "_user" %>
<% end %>
<div class="row user">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">

    <div class="row common-info">
      <%= render :partial => "base_info", locals: {numbers: @numbers} %>
	  </div>

	  <div class="row self-main-context">

	    <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "我的提问",my_questions_user_index_path %></li>
        <li role="presentation"><%= link_to "我的回答",my_answers_user_index_path %></li>
      </ul>

      <!-- ###############################我的提问##################### -->
      <div class="div-content questions-answers-content">
        <% if @question_comments.blank? %>
          <div class="blank">暂时没有提问</div>
        <% else %>
          <% @question_comments.each do |comment| %>
            <div class="row questions-answers-list">
              <div class="col-sm-1">
                <%= image_tag current_user.show_image,class: "img-rounded max60" %>
              </div>
              <div class="col-sm-9">
                <div><%= current_user.show_name %> <span class="grey-font">提问</span></div>
                <p>
                  <div>
                    <%= link_to comment.body,show_sub_courses_path(comment.try(:commentable).try(:number),course_number: comment.try(:commentable).try(:course).try(:number))%>
                  </div>
                  <% if comment.has_children? %>
                    <span class="text-muted">[最新回答]</span>
                    <span><%= comment.children.last.try(:usertable).try(:show_name) %>:<span>
                    <span class="text-muted">
                      <%= link_to comment.children.last.try(:body),show_sub_courses_path(comment.try(:commentable).try(:number),course_number: comment.try(:commentable).try(:course).try(:number))%>
                    </span>
                  <% end %>
                </p><br>
                <div class="grey-font">时间：<%= comment.created_at.try(:strftime,'%Y-%m-%d %H:%M:%S') %></div>
              </div>
              <div class="col-sm-2">
                <table class="table no-border text-muted">
                  <tr align="center">
                    <td class="<%= comment.has_children? ? "text-success" : "text-muted"%>"><%= comment.children.size %></td>
                    <td class="left-border">0</td>
                  </tr>
                  <tr align="center">
                    <td class="<%= comment.has_children? ? "text-success" : "text-muted"%>">回答</td>
                    <td class="left-border">浏览</td>
                  </tr>
                </table>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="paginate text-center">
          <%= paginate @question_comments %>
        </div>
	    </div>
      <!-- ###############################我的提问##################### -->

    </div>
  </div>
</div>