<%= content_for :script do %>
  <%= javascript_include_tag "_user" %>
<% end %>
<div class="row user">

  <div class="col-md-2" role="complementary">
	  <%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">

    <div class="row common-info">
      <%= render :partial => "base_info", locals: {numbers: @numbers} %>
	  </div>

	  <div class="row self-main-context">

	    <ul class="nav nav-pills show-content">
        <li role="presentation" class="active"><%= link_to "已完成的测试","#" %></li>
      </ul>

      <div class="div-content scoure-search">

        <% if @exams.blank? %>
          <div class="blank">没有可供查询的成绩</div>
        <% else %>
          <% @exams.each_with_index do |exam,index| %>
            <% if index % 2 == 0 %>
              <div class="row score-list">
            <% end %>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-sm-7 ov-hidden">
                     <%= link_to image_tag("score-search1.png"), show_courses_path(exam.try(:sub_course).try(:course).try(:number)) %>
                  </div>
                  <div class="col-sm-5">
                    <h4><%= link_to exam.try(:sub_course).try(:name), show_courses_path(exam.try(:sub_course).try(:course).try(:number)) %></h4>
                    <div class="score-detail">
                      <span class="text-primary">&bull;</span>
                      时间：<%= exam.created_at.try(:strftime,'%Y-%m-%d').try(:to_s) %>
                    </div>
                    <div class="score-detail">
                      <span class="text-primary">&bull;</span>
                      总分：100分
                    </div>
                    <div class="score-detail">
                      <span class="text-primary">&bull;</span>
                      得分：<%= exam.total_score %>分
                    </div>
                    <%= link_to "查看试卷",exam_path(exam.id) ,class: "btn btn-warning"%>
                  </div>
                </div>
              </div>
            </div>

            <% if index % 2 == 1 %>
              </div>
            <% end %>

          <% end %>
          
        <% end %>
        
	    </div>

    </div>

  </div>

</div>