<div class="row user">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">
    <div class="row common-info">
      <%= render :partial => "base_info", locals: {numbers: @numbers} %>
	  </div>

	  <div class="row self-main-context">
  	  <ul class="nav nav-pills show-content">
  		  <li role="presentation" class="active">
            <%= link_to("个人资料", user_index_path) %>
          </li>
          <li role="presentation" >
            <%= link_to("修改密码", edit_user_registration_path)  %>
          </li>
  	  </ul>

  	  <div class="container div-form div-content">
    		<%= simple_form_for(@user, url: user_path(current_user.id), wrapper: "horizontal_form", html: { method: :put, multipart: true, class: "form-horizontal" }) do |f| %>
          <%= f.input :number, readonly: true %>
          <%= f.input :phone, required: false, readonly: true %>
          <%= f.input :name %>
    		  <%= f.input :nickname %>
    		  <%= f.input :image , as: :file, wrapper: "horizontal_file_input"%>
    		  <%= f.input :position %>
    		  <%= render :partial => "common/common_select", locals: {f: f} %>
    		  <%= f.input :gender, collection: User::PartnerGender.to_a.reverse_each{|x| x.reverse!}, as: :radio_buttons, wrapper: "horizontal_radio_and_checkboxes", item_wrapper_class: "radio-inline" %>
    		  <%= f.input :signature, as: :text %>

    		  <div class="col-sm-5 col-sm-offset-2">
    			<p class="text-center">
    			  <%= f.submit "确认修改", class: "btn btn-success" %>
    			</p>
    		  </div>
    		<% end %>
    	  </div>

  	</div>

  </div>

</div>

<%= content_for :script do %>
  <%= javascript_tag do %>
    get_specialties_path = "<%= get_specialties_user_index_path %>"
    get_grades_path = "<%= get_grades_user_index_path %>"
  <% end %>
  <%= javascript_include_tag "_user_show", 'data-turbolinks-track' => true %>
<% end %>
