<% content_for :wechat_title, "创新论坛" %>

<div class="weui_tab">
	<div class="weui_tab_bd">
		<div class="content clearfix">
			<!-- 新建话题 -->
			<div class="col-xs-12">
        <%= link_to "新建话题", "javascript:;", class: "weui_btn weui_btn_plain_primary", id: "newCreateBtn" %>   
      </div>
			<!-- 话题列表 -->
			<div id="topicList" class="discuss-list">
		    <%= render partial: "topic", locals: {topics: @topics} %>
		  </div>
		</div>
	</div>
	<!-- 底部导航 -->
	<%= render partial: "tabbar" %>
</div>

<!-- 弹出模态框，创建话题 -->
<div id="createDiscuss" class="modal fade">
  <%= render "new_modal" %>
</div>

<!-- 回复表单 -->
<div id="replyCommentForm" style="display: none;">
  <%= form_tag reply_topic_wechat_discusses_path, method: :post, class: "innovations" do %>
    <div class="weui_cells weui_cells_form comment_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
			    <%= text_area_tag "comment", "", rows: 3, class: "weui_textarea", placeholder: "请输入评论" %>
          <%= hidden_field_tag "comment_id" %>
			    <%= hidden_field_tag "type", params[:type] %>
			    <%= hidden_field_tag "page", params[:page] %>
          <div class="weui_textarea_counter">
          	<%= submit_tag "回复", class: "weui_btn weui_btn_mini weui_btn_primary", data: {disable_with: "回复中..."}, onclick: "if($('#comment').first().val() == ''){$('.weui_cell').addClass('error');return false;};" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
  	// 创建话题，打开模态框
    $("#newCreateBtn").click(function(){
      $("#createDiscuss").modal();
    });
    // 回复按钮
    $(".comment_reply").click(function(){
      $("#topicList form").remove();
      $(".weui_cell").removeClass("error");
      $("#comment_id").val($(this).attr("comment-id"));
      $(this).parent().append($("#replyCommentForm").html());
    });
  });
</script>