<%= content_for :script do %>
  <%= javascript_tag do %>
    user_login = <%= current_user.present? %>
    course_praise_path = "<%= course_praise_courses_path%>"
    course_collect_path = "<%= course_collect_courses_path%>"
  <% end %>
  <%= javascript_include_tag "_course_show" %>
<%end%>

<% content_for :crumbs do%>
  <ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home">&nbsp;</span>当前位置</li>
    <li><%= link_to "首页", root_path %></li>
    <li><%= link_to @course.name, show_courses_path(@course.number) %></li>
    <li class="active">课后作业</li>
  </ol>
<% end %>

<div class="main-content">
  <div class="top-content">
    <div class="left-content">
      <div class="course-image">
        <!-- 优先选择file_url选项 -->
        <% unless @course.attachment && @course.attachment.file_url.present? %>
          <video width="500" height="350" class="mejs-player" poster="<%= (@course.try(:image).try(:avatar).url(:c_500_350))%>" controls="controls" preload="none">
            <source type="video/mp4" src="<%= @course.attachment.content.url %>" />
          </video>
        <% else %>
          <video width="500" height="350" class="mejs-player" controls="controls" preload="none">
            <source type="video/mp4" src="<%= @course.attachment.file_url %>" />
          </video>
        <% end %>
      </div>
    </div>
    <div class="right-content">
      <h1><%= @course.name %></h1>
      <% if !teacher_signed_in? %>
        <div class="collect-zan-btns">
          <%= form_tag course_collect_courses_path, method: :post, remote: true, id: "courseCollectPraise" do %>
            <%= hidden_field_tag "course_id", @course.id%>
            <button id="courseCollectBtn" type="button" class="btn btn-default">
              <% collect_count = @course.get_likes(vote_scope: :collect).size %>
              <% is_collect = current_user.present? && (current_user.voted_up_on? @course,vote_scope: :collect) %>
              <span id="collectIcon" class="glyphicon glyphicon-star <%= 'text-muted' if !is_collect %>"></span>
              <span id="collectFont" count="<%= collect_count %>" 
                iscollect = "<%= is_collect %>" >
                <%= collect_count %>
              </span>
            </button>
            <button id="coursePraiseBtn" type="button" class="btn btn-default">
              <% praise_count = @course.get_likes(vote_scope: :praise).size %>
              <% is_praise = current_user.present? && (current_user.voted_up_on? @course,vote_scope: :praise) %>
              <span id="praiseIcon" class="glyphicon glyphicon-heart <%= 'text-muted' if !is_praise %>"></span>
              <span id="praiseFont" count="<%= praise_count %>" 
                ispraise = "<%= is_praise %>" >
                <%= praise_count %>
              </span>
            </button>
          <% end %>
        </div>
      <% end %>
      <ul class="course-main">
        <li class="course-info">
          <span class="title">课程简介</span>
          <div class="content sm-height">
            <p><%= @course.description %></p>
          </div>
        </li>
        <li class="teach-team">
          <p class="title">教学团队</p>
          <div class="teachers">
            <% @teacher_courses.each do |teacher_course|%>
              <div class="teacher-info">
                <%= link_to image_tag(teacher_course.try(:teacher).try(:image).try(:avatar).url(:t_60)), show_teachers_path(teacher_course.teacher.number) if teacher_course.try(:teacher).try(:image).present? %>
                <p><%= teacher_course.try(:teacher).try(:name) %></p>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="related-courses">
    <a href="javascript:void(0)" class="btn btn-primary">相关课程</a>
    <ul class="courses-list">
      <% @sub_courses.each do |sub_course|%>
        <li class="col-sm-12">
          <span class="title"><%= sub_course.name%></span>
          <a href= <%= new_courses_exams_path(sub_course_number: sub_course.number)%> class="pull-right">测试 ></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>