<div class="main-content">
  <div class="top-content">
    <div class="left-content">
      <div class="course-image">
        <%= image_tag(@course.image.avatar.url(:c_420_285))%>
      </div>
    </div>
    <div class="right-content">
      <h1><%= @course.name %></h1>
      <div class="collect-zan-btns">
        <%= form_tag course_collect_courses_path, method: :post, remote: true, id: "courseCollectPraise" do%>
          <%= hidden_field_tag "course_id", @course.id%>
          <button id="courseCollectBtn" type="button" class="btn btn-default <%= current_user.blank? ? 'btn-default-no' : '' %>">
            <span class="glyphicon glyphicon-star"></span>
            <% collect_count = @course.get_likes(vote_scope: :collect).size %>
            <span id="collectFont" count="<%= collect_count %>" 
              iscollect = "<%= current_user.present? && (current_user.voted_up_on? @course,vote_scope: :collect) %>" >
              <%= collect_count %>人收藏
            </span>
          </button>
          <button id="coursePraiseBtn" type="button" class="btn btn-default <%= current_user.blank? ? 'btn-default-no' : '' %>">
            <span class="glyphicon glyphicon-heart"></span>
            <% praise_count = @course.get_likes(vote_scope: :praise).size %>
            <span id="praiseFont" count="<%= praise_count %>" 
              ispraise = "<%= current_user.present? && (current_user.voted_up_on? @course,vote_scope: :praise) %>" >
              <%= praise_count %>个赞
            </span>
          </button>
        <% end %>
      </div>
      <ul class="course-main">
        <li class="course-info">
          <span class="title">课程简介</span>
          <div class="content sm-height">
            <p><%= @course.description %></p>
          </div>
        </li>
        <li class="teach-team">
          <p class="title">教学团队</p>
          <div class="teachers">
            <% @teacher_courses.each do |teacher_course|%>
              <div class="teacher-info">
                <%= link_to image_tag(teacher_course.try(:teacher).try(:image).try(:avatar).url(:t_60)), show_teachers_path(teacher_course.teacher.number)%>
                <p><%= teacher_course.try(:teacher).name %></p>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="related-courses">
    <a href="javascript:void(0)" class="btn btn-primary">相关课程</a>
    <ul class="courses-list">
      <% @sub_courses.each do |sub_course|%>
        <li class="col-sm-12">
          <span class="title"><%= sub_course.name%></span>
          <a href= <%= new_courses_sub_courses_exams_path(sub_course.course.number, sub_course.number)%> class="pull-right">测试 ></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>