<%= content_for :script do %>
  <%= javascript_tag do %>
    user_login = <%= current_user.present? %>
    course_praise_path = "<%= course_praise_courses_path%>"
  <% end %>
  <%= javascript_include_tag "_course_show" %>
<%end%>

<%= content_for :lunbo do %>
  <%= render partial: "/common/lunbo"%>
<%end%>

<div class="main-content">
  <div class="top-content">
    <div class="left-content">
      <div class="course-image">
        <%= image_tag(@course.image.avatar.url(:c_420_285))%>
        <div class="course-and-score">
          <%= link_to "课后作业", after_class_courses_path, class: "course"%>
          <%= link_to "成绩查询", "", class: "score"%>
        </div>
      </div>
    </div>
    <div class="right-content">
      <h1><%= @course.name %></h1>
      <div class="collect-zan-btns">
        <%= form_tag course_collect_courses_path, method: :post, remote: true, id: "courseCollectPraise" do %>
          <%= hidden_field_tag "course_id", @course.id%>
          <button id="courseCollectBtn" type="button" class="btn btn-default <%= current_user.blank? ? 'btn-default-no' : '' %>">
            <span class="glyphicon glyphicon-star"></span>
            <% collect_count = @course.get_likes(vote_scope: :collect).size %>
            <span id="collectFont" count="<%= collect_count %>" 
              iscollect = "<%= current_user.present? && (current_user.voted_up_on? @course,vote_scope: :collect) %>" >
              <%= collect_count %>人收藏
            </span>
          </button>
          <button id="coursePraiseBtn" type="button" class="btn btn-default <%= current_user.blank? ? 'btn-default-no' : '' %>">
            <span class="glyphicon glyphicon-heart"></span>
            <% praise_count = @course.get_likes(vote_scope: :praise).size %>
            <span id="praiseFont" count="<%= praise_count %>" 
              ispraise = "<%= current_user.present? && (current_user.voted_up_on? @course,vote_scope: :praise) %>" >
              <%= praise_count %>个赞
            </span>
          </button>
        <% end %>
      </div>
      <ul class="course-main">
        <li class="course-info">
          <span class="title">课程简介</span>
          <div class="content lg-height">
          <p><%= @course.description %></p>
         </div>
        </li>
        <li class="teach-team">
          <p class="title">教学团队</p>
          <div class="teachers">
            <% @teacher_courses.each do |teacher_course|%>
              <div class="teacher-info">
                 <%= link_to image_tag(teacher_course.try(:teacher).try(:image).try(:avatar).url(:t_60)), show_teachers_path(teacher_course.teacher.number)%>
                 <p><%= teacher_course.teacher.name %></p>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="related-courses">
    <a href="javascript:void(0)" class="btn btn-primary">相关课程</a>
    <ul class="courses-list">
      <% @sub_courses.each do |sub_course|%>
        <li>
          <!-- 如果是视频如mp4, flv等格式文件进入播放页 -->
          <% if sub_course.attachment && sub_course.attachment.content.content_type =~ /video(.*)/%>
            <a href= <%= show_sub_courses_courses_path%> class="title"><%= sub_course.name %></a>
          <!-- 如果是视频如pdf, docx等格式文件执行下载 -->
          <% elsif sub_course.attachment && sub_course.attachment.content.content_type =~ /application(.*)/ %>
            <%=link_to sub_course.name, download_sub_course_path( sub_course.number), class: "title" %>
          <% end %>
          <a href="" class="total">格式<%= File.extname(sub_course.attachment.content_file_name).split(".").last%></a>
          <!-- 显示KB还是Mb判断 -->
          <% if sub_course.attachment.content_file_size / 1048576 < 1 %>
            <a href="" class="already">（文件<%= sub_course.attachment.content_file_size / 1024%>Kb）</a>
          <% else %>
            <a href="" class="already">（文件<%= sub_course.attachment.content_file_size / 1048576%>Mb）</a>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "展开", "javascript:void(0)", class: "drop-down-arrow"%>
  </div>
  <div class="category-list">
    <a href="javascript:void(0)" class="index public-common-style">首页</a>
    <a href="javascript:void(0)" class="material public-common-style">申报材料</a>
    <a href="javascript:void(0)" class="setup public-common-style">课程设置</a>
    <a href="javascript:void(0)" class="team public-common-style">教学队伍</a>
    <a href="javascript:void(0)" class="condition public-common-style">教学条件</a>
    <a href="javascript:void(0)" class="method public-common-style">教学方法</a>
    <a href="javascript:void(0)" class="content public-common-style">教学内容</a>
    <a href="javascript:void(0)" class="resource public-common-style">教学资源</a>
    <a href="javascript:void(0)" class="effect public-common-style">教学效果</a>
    <a href="javascript:void(0)" class="policy public-common-style">特色与政策</a>
  </div>
  <div class="category-list-content">
    <a href="javascript:void(0)" class="btn btn-primary by-btn-bg">课程设计理念</a>
    <div class="text-content">
      <h5>1.课程设计的理念</h5>
      <h5>1.1 教学过程与企业用人要求对接，课程内容与职业标准对接</h5>
      <h5>学习过程与典型的工作过程的对接 </h5> 
      <h5>教师与开发人员的对接</h5>
      <h5>训练项目与实际项目的对接</h5>
      <h5>工作能力与企业用人要求的对接</h5>
      <h5>1.2 基于岗位需求的人才培养</h5>
      <h5>根据不同岗位需求来培养学生，在课程的学习与实践过程中注重培养学生的职业岗位素质与能力。</h5>
      <h5>2.课程设计的思路</h5>
      <h5>本课程一直有学校专任教师和企业资深工程师合作授课。专任教师具有丰富的课堂教学经验，擅长于只是的讲解与传授，企业工程师非常了解市场对人才的需求，有丰富的实际工作经验，能够营造真实的企业工作环境，带领学生做真实的企业项目开发，更好的培养学生的职业能力。</h5>
      <h5>2.1为学生提供企业环境和项目开发……</h5>
      <%= link_to "展开", "javascript:void(0)", class: "drop-down-arrow"%>
    </div>
    <div class="text-content">
      <h5>教学录像</h5>
      <ul class="container-fluid">
        <% (0..2).each do |index|%>
        <li class="col-sm-12">
          <a href= "#" class="col-sm-10">ios图形界面的应用</a>
          <a href class="col-sm-2"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;阅读</a>
        </li>
        <% end %>
      </ul>
      <h5> </h5>
      <h5>教学录像</h5>
      <ul class="container-fluid">
        <li class="col-sm-12">
          <a href= "#" class="col-sm-10">ios图形界面的应用</a>
          <a href class="col-sm-2"><%= image_tag "read_icon.png"%>&nbsp;&nbsp;阅读</a>
        </li>
      </ul>
    </div>
    <div class="text-content">
      <dl>
        <dt>
          1．课程设计的理念
        </dt>
        <dd>hello</dd>
      </dl>
    </div>
    <div class="text-content">
      教学队伍
    </div>
    <div class="text-content">
      教学条件
    </div>
    <div class="text-content">
      教学方法
    </div>
    <div class="text-content">
      教学内容
    </div>
    <div class="text-content">
      教学资源
    </div>
    <div class="text-content">
      教学效果
    </div>
    <div class="text-content">
      特色与政策
    </div>
  </div>
  <div class="fast-entry">
    <div class="fast-entry-links">
      <a href="javascript:void(0)" class="btn btn-default">教学内容</a>
      &nbsp;&nbsp;
      <a href="javascript:void(0)" class="btn btn-default">教学方法</a>
      &nbsp;&nbsp;
      <a href="javascript:void(0)" class="btn btn-default">教学条件</a>
      &nbsp;&nbsp;
      <a href="javascript:void(0)" class="btn btn-default">教学效果</a>
      &nbsp;&nbsp;
      <a href="javascript:void(0)" class="btn btn-default">申报材料</a>
    </div>
    <div class="fast-entry-content">
      <div class="entry-content">
        <%= render partial: "teach_content"%>
      </div>
      <div class="entry-content">
        教学方法
      </div>
      <div class="entry-content">
        教学条件
      </div>
      <div class="entry-content">
        教学效果
      </div>
      <div class="entry-content">
        申报材料
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  <div class="col-sm-12 col-md-12">
    <div class="col-sm-4 col-md-4 pull-left">
      <%= image_tag("vedio-bg.png")%>
    </div>
    <div class="col-sm-8 col-md-8 pull-right">
      <h1><%= @course.name%></h1>
      <p><%= @course.description%></p>
    </div>
  </div>
</div>

<%- @sub_courses.each do |sub_course|%>
  <p>
  <%= sub_course.name%>
  <%= sub_course.content%>
  <%= link_to "测试", new_exam_path(sub_course_id: sub_course.id)%>
  </p>
<%end%> -->