<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">添加测试班级</h4>
    </div>
    <div class="modal-body">
      <%= form_tag paper_user_papers_path(@paper), class: "form-horizontal" do |f| %>
        <div class="form-group">
          <label class="col-sm-2 control-label">学院</label>
          <div class="col-sm-9">
            <%#= f.text_field :title, class: "form-control" %>
            <%= select_tag('academy_id', options_for_select(Academy.all.pluck(:name,:id), params[:academy_id]), class: "form-control", id: "common_academy_id", prompt: "请选择学院") %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">专业</label>
          <div class="col-sm-9">
            <%= select_tag('specialy_id', options_for_select([]), id: "common_specialty_id", class: "form-control", prompt: "请选择专业") %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">班级</label>
          <div class="col-sm-9">
            <%= select_tag('grade_id', options_for_select([]), id: "common_grade_id", class: "form-control", prompt: "请选择班级") %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-7 col-sm-offset-2 text-center">
            <%= submit_tag "添加", class: "btn btn-info", onclick: "submit_grade();" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :script do %>
  <%= javascript_tag do %>
    get_specialties_path = "<%= get_specialties_user_index_path %>"
    get_grades_path = "<%= get_grades_user_index_path %>"
  <% end %>
  <%= javascript_include_tag "_user_show", 'data-turbolinks-track' => true %>

<% end %>

<script type="text/javascript">
  function submit_grade(){
    if($("#common_academy_id").val() == ""){
      alert("学院必须选择");
      return false;
    }
    if($("#common_specialty_id").val() == "" || $("#common_specialty_id").val() == "请选择专业"){
      alert("专业必须选择");
      return false;
    }
    if($("#common_grade_id").val() == "" || $("#common_grade_id").val() == "请选择班级"){
      alert("班级必须选择");
      return false;
    }
  }
</script>