<%= content_for :script do %>
  <%= javascript_include_tag "jquery.countdown.min", "_exam_new", 'data-turbolinks-track' => true %>
<%end%>


<div class="main-content">
  <div class="main-title">
    <%= @paper.name %>
  </div>
  <br><br><br>
  <div class="row text-center">
    总分：<%= @paper.total_score %>  &nbsp;&nbsp;&nbsp;&nbsp;得分：<%= @user_paper.evaluated ? @user_paper.total_score : "未阅卷" %>
  </div>
  <div class="question-content">
    <%= form_tag paper_user_paper_path(@paper, @user_paper), method: :patch do%>
      <% if @paper.paper_questions.single.present? %>
        <h3 class="type-title">单选题</h3>
        <% @paper.paper_questions.single.each_with_index do |question, index|%>
          <p class="title"><%= index + 1 %>. <span class="text-danger"><%= "（" + question.signal_score.to_s  + "分）"%></span><%= question.title %>&nbsp;&nbsp;<span class="text-danger">正确答案：<%= "（" + question.correct_answer  + "）"%></span></p>
          <% question.paper_options.each_with_index do |option, option_index|%>
            <p class="option">
              <%= radio_button_tag("options[#{question.id}]", option.index_type, option.index_type == question.answer.try(:content) ,disabled: true)%>&nbsp;&nbsp;
              <label for="options_<%= question.id %>_<%= select_item(option_index) %>" ><%= option.index_type + "、" + option.content %></label>
            </p>
          <% end %>
           <p class="option text-danger">
              答案解析：<%= question.correct_hint %>
            </p>
        <% end %>
      <% end %>
      <br>
      <% if @paper.paper_questions.multi.present? %>
        <h3 class="type-title">多选题</h3>
        <% @paper.paper_questions.multi.each_with_index do |question, index|%>
          <p class="title"><%= index + 1 %>. <span class="text-danger"><%= "（" + question.signal_score.to_s  + "分）"%></span><%= question.title%>&nbsp;&nbsp;<span class="text-danger">正确答案：<%= "（" + question.correct_answer  + "）"%></span></p>
          <% question.paper_options.each_with_index do |option, option_index|%>
            <p class="option">
              <%= check_box_tag("options[#{question.id}][]", option.index_type, question.answer.try(:content).try(:include?,option.index_type), disabled: true, id: "options_#{question.id}_#{select_item(option_index)}")%>&nbsp;&nbsp;
              <label for="options_<%= question.id %>_<%= select_item(option_index) %>" ><%= option.index_type + "、" + option.content %></label>
            </p>
          <% end %>
           <p class="option text-danger">
              答案解析：<%= question.correct_hint %>
            </p>
        <% end %>
      <% end %>
      <br>
      <% if @paper.paper_questions.judge.present? %>
        <h3 class="type-title">判断题</h3>
        <% @paper.paper_questions.judge.each_with_index do |question, index|%>
          <p class="title"><%= index + 1 %>. <span class="text-danger"><%= "（" + question.signal_score.to_s  + "分）"%></span><%= question.title%>&nbsp;&nbsp;<span class="text-danger">正确答案：<%= "（" + question.correct_answer  + "）"%></span></p>
            <p class="option">
              <%= radio_button_tag("options[#{question.id}]", "T", "T" == question.answer.try(:content), disabled: true)%>&nbsp;&nbsp;
              <label for="options_<%= question.id %>_T" >正确</label>
            </p>
            <p class="option">
              <%= radio_button_tag("options[#{question.id}]", "F", "F" == question.answer.try(:content), disabled: true)%>&nbsp;&nbsp;
              <label for="options_<%= question.id %>_F" >错误</label>
            </p>
             <p class="option text-danger">
              答案解析：<%= question.correct_hint %>
            </p>
        <% end %>
      <% end %>
      <br>
      <% if @paper.paper_questions.fill.present? %>
        <h3 class="type-title">填空题</h3>
        <% @paper.paper_questions.fill.each_with_index do |question, index|%>
          <p class="title"><%= index + 1 %>. <span class="text-danger"><%= "（" + question.signal_score.to_s  + "分）"%></span><%= question.title%></p>
            <p class="option">
              回答：<%= question.answer.try(:content) %>
            </p>
            <p class="option text-danger">
              答案解析：<%= question.correct_hint %>
            </p>
            <p class="option">
              分数：<%= text_field_tag "scores[#{question.answer.try(:id)}]", question.answer.try(:score) %>
            </p>
        <% end %>
      <% end %>
      <br>
      <% if @paper.paper_questions.que_an.present? %>
        <h3 class="type-title">问答题</h3>
        <% @paper.paper_questions.que_an.each_with_index do |question, index|%>
          <p class="title"><%= index + 1 %>. <span class="text-danger"><%= "（" + question.signal_score.to_s  + "分）"%></span><%= question.title%></p>
            <p class="option">
              回答：<%= question.answer.try(:content) %>
            </p>
             <p class="option text-danger">
              答案解析：<%= question.correct_hint %>
            </p>
            <p class="option">
              分数：<%= text_field_tag "scores[#{question.answer.try(:id)}]", question.answer.try(:score) %>
            </p>
        <% end %>
      <% end %>
      <div class="form-group">
        <button type="submit" class="btn center-block btn-lg btn-primary">
          提 交 分 数
        </button>
      </div>
    <% end %>
  </div>
</div>

