<%= content_for :nav do%>
  <li>
    <a href="#{admin_root_path}">后台</a>
  </li>
  <li class="active">学生列表</li>
<%end%>

<%= content_for :toolbar do %>
  <div class="col-xs-12">
    <%= link_to new_admin_user_path, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus-sign">新建</span>
    <%end%>
    <div class="col-xs-3 pull-right">
      <div class="form-group">
        <%= render partial: 'admin/common/keyword', locals: {path: admin_users_path} %>
      </div>
    </div>
  </div>
<%end%>

<hr></hr>
<table class="table table-hover table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">头像</th>
      <th class="text-center">学院/专业</th>
      <th class="text-center">专业编号</th>
      <th class="text-center">班级</th>
      <th class="text-center">学号</th>
      <th class="text-center">姓名</th>
      <th class="text-center">手机</th>
      <th class="text-center">性别</th>
      <th class="text-center">校区</th>
      <th class="text-center" colspan="2">操作</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= paginate @users %>

<%= form_tag import_admin_users_path, multipart: true do %>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <%= file_field_tag :file, class: 'form-control' %>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-success" type="submit">
          <span class="glyphicon glyphicon-floppy-save">导入学生信息</span>
        </button>
        <%= link_to "导入模板下载", "/excels/user.xlsx", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>