<%= content_for :script do %>
  <%= javascript_include_tag "jquery.countdown.min", "_exam_new", 'data-turbolinks-track' => true %>
<%end%>


<div class="main-content">
  <% if @exam.present? %>
    <%= render partial: 'common/blank_alert', locals: {message: '您已经参加过该测试!'}%>
    <div class="form-group">
      <%= link_to "查看我的试卷", my_exams_user_index_path, class: 'btn center btn-primary'%>
    </div>
  <% elsif @questions.present? %>
    <a href="javascript:void(0)" class="btn btn-success js-start-answer-question">开始测试</a>
    <div class="main-title">
      JAVA语言基础期末测试
    </div>
    <div class="question-content">
      <%= simple_form_for Exam.new, format: :js, remote: true do |f|%>
        <%= f.hidden_field :sub_course_number, value: params[:sub_course_number]%>
        <% @questions.each_with_index do |question, index|%>
          <p class="title"><%= index + 1 %>. <%= question.title%></p>
          <% question.options.each do |option|%>
            <p class="option">
              <%= radio_button_tag("option_" + index.to_s, option.name.to_s.split(" ").join("").first)%>
              <span><%= option.name%></span>
            </p>
          <% end %>
        <% end %>
        <p class="title"><%= @questions.length + 1 %>. 请讲数组[1,2,17,12,34,38]使用冒泡排序进行排序，输出排序后结果。</p>
        <p class="option">
          <textarea cols="100" rows="4"></textarea>
        </p>
        <p class="title"><%= @questions.length + 2 %>. 请讲一个二位数组转置，输出转置后结果。</p>
        <p class="option">
          <textarea cols="100" rows="4"></textarea>
        </p>
        <div class="form-group">
          <button type="button" class="btn center-block btn-lg btn-primary js-submit-btn" data-toggle="modal" data-target="#showExamResult">
        提 交 试 卷
      </button>
        </div>
      <% end %>
    </div>
    <div class="tieshi">
      <div id="countdown">00:00:00</div>
      <ul class="question-num">
        <li>
          <p class="title">总题数</p>
          <p class="number">
            <span><%= @questions.length + 2 %></span>
            题
          </p>
        </li>
      </ul>
      <a href="javascript:void(0)" id="back-to-top"></a>
    </div>
  <% else %>
    <%= render partial: 'common/blank_alert', locals: {message: '该课程还未上传课后习题!'}%>
  <% end %>
</div>


<div id="showExamResult" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">测试结束</h4>
      </div>
      <div class="score-bg">
        <div class="modal-body">
          <br>
          测试辛苦了!<br>
          &nbsp;&nbsp;&nbsp;&nbsp;感谢你认真的完成了测验，试卷已经提交到教师处，请耐心等待测试结果。
          <br><br><br>
          <div  class="modal-btn">
            <%= link_to('考试中心', exams_path , class: "btn btn-primary  btn-sm") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>