<tr>
  <td>
    <% if course.attachment.present? && course.attachment.content.present? %>
      <%= image_tag(course.attachment.content.url(:thumb), size: "50x50") if course.attachment%>
    <% else %>
      <%= image_tag(course.attachment.file_url, size: "50x50") if course.attachment%>
    <% end %>
  </td>
  <td><%= course.number %></td>
  <td><%= course.name %></td>
  <td><%= course.description.to_s[0..20] %></td>
  <td><%= link_to "子课程", admin_course_sub_courses_path(course)%></td>
  <td>
    <%= link_to [:admin, course], class: 'btn btn-xs btn-info', title: '查看' do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <%end%>
    <%= link_to edit_admin_course_path(course), class: 'btn btn-xs btn-default', title: '编辑' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <%end%>
    <%= link_to nil, class: 'btn btn-xs btn-danger', title: '删除' do %>
      <span class="glyphicon glyphicon-trash"></span>
    <%end%>
  </td>
</tr>