<%= simple_form_for([:admin, @course], html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :academy_id, '所属学院', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.select(:academy_id, Academy.all.collect{ |p| [p.name, p.id]}, {prompt: '请选择学院'}, {class: 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :teachers, '教师团队', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <% Teacher.all.each do |teacher| %>
        <%= check_box_tag("course[teacher_ids][]", teacher.id, teacher.id.in?(@course.teachers.collect(&:id)))%>
        <%= teacher.name%>
      <%end%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, '课程展示图', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, '课程名称', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, '课程描述', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_area :description, size: '80x6', class: 'form-control' %>
    </div>
  </div>
  <hr></hr>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
    </div>
  </div>
<%end%>