<!DOCTYPE html>
<html>
<head>
  <title>上海工商技术学院</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- header -->
	<header class="navbar navbar-static-top bs-docs-nav mar-top-bot-10" id="top" role="banner">
		<%= render :partial => "/common/header" %>
	</header>
	<!-- header -->
		
	<div id="login" class="container-fluid" style="padding-left: 0;padding-right: 0;">
		<div class="row">
			<div class="col-md-3 col-md-offset-2 panel panel-default">
				<%= yield %>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%= render :partial => "/common/footer" %>
	<!-- footer -->
</body>
</html>
