<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= wechat_title %></title>
    <%= stylesheet_link_tag 'wechat', media: 'all', 'data-turbolinks-track' => true %>
    <script src="http://cdnjs.gtimg.com/cdnjs/libs/zepto/1.1.4/zepto.min.js"></script>
    <%= csrf_meta_tags %>
</head>
<body ontouchstart class="<%= controller.controller_path.gsub('/','__') + '__' + controller.action_name %>">
  <%= yield %>
  <%= javascript_include_tag 'wechat', 'data-turbolinks-track' => true %>
  <%= yield :script %>
</body>
</html>